.action-panel {
  margin-bottom: 30px;
  transition: box-shadow .3s;

  &.active {
    box-shadow: 0 0 5px rgba(0,0,0,.45);
  }

  .toggle {
    display: block;
    background: $brand-tertiary;
    padding: 10px 15px;
    color: white;
    transition: background .2s;

    .fa {
      margin-right: 8px;
    }

    &:hover {
      text-decoration: none;
      background: lighten($brand-tertiary, 5%);
    }
  }

  .content {
    padding: 15px;
    background: $gray-lighter;
  }

  .col-sm-offset-4 {
    padding-left: 15px;
  }
}
