.checklist {
  .actions {
    float: right;

    .actioned {
      color: $dark-80;
    }
  }

  .focus-group {
    background: white;
    border: 1px solid $dark-10;

    h3 {
      transition: all .3s;
      font-size: 14px;
      padding: 15px;
      margin: 0;
    }

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .focus-group.open h3 {
    background: $dark-30;

    a {
      color: white;
    }
  }

  .focus-areas {
    margin: 0 15px 15px 15px;
  }

  .focus-area {
    h4 {
      border-bottom: 1px solid #333;
    }

    li {
      position: relative;

      &:hover .actions {
        opacity: 1;
      }
    }

    ul {
      padding: 0;
      margin:0;
    }

    .checklist-item {
      display: block;
      list-style: none;
    }
  }

  .checklist-title {
    padding-right: 50px;
  }

  .checklist-item .actions {
    right: 0;
    top: 0;
    position: absolute;
    opacity: .3;
    transition: opacity .3s;
  }

  .comments {
    margin-bottom: 15px;

    textarea {
      padding: 12px;
      display: block;
      width: 100%;
      margin: 15px 0;
    }
  }
}
