<h1>
  <img class="logo" src="/assets/images/logo-sym.png" alt="Wicked lab logo">

  Wicked Login
</h1>


<form ng-submit="login.gotoDashboard()">
  <div class="form-group">
    <i class="login-icon fa fa-at"></i>
    <input type="text" class="form-control" placeholder="enter your email">
  </div>
  <div class="form-group">
    <i class="login-icon fa fa-key"></i>
    <input type="password" class="form-control" placeholder="enter your password">
  </div>
  <div class="form-group">
    <input type="submit" value="Login" class="submit btn btn-primary">
  </div>

  <p class="forgot">
    <a href ng-click="login.showForgotPasswordForm()">
      Forgotten your password?
    </a>
  </p>
</form>