<ul class="menu-items">
  <li>
    <a ui-sref="dashboard" ui-sref-active="active">
      <i class="fa fa-dashboard"></i>
      <span class="text">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="#/scorecards">
      <i class="fa fa-check-square-o"></i>
      <span class="text">Scorecards</span>
    </a>
  </li>
  <li>
    <a href="#/users">
      <i class="fa fa-users"></i>
      <span class="text">Users</span>
    </a>
  </li>
  <li>
    <a href="#/settings">
      <i class="fa fa-cogs"></i>
      <span class="text">Settings</span>
    </a>
  </li>
</ul>