<ul class="menu-items">
  <li>
    <a ui-sref="wkd.dashboard" ui-sref-active="active">
      <i class="fa fa-dashboard"></i>
      <span class="text">Dashboard</span>
    </a>
  </li>
  <li>
    <a class="lg" ui-sref="wkd.problems" ui-sref-active="active">
      <i class="fa fa-cubes"></i>
      <span class="text">Wicked Problems</span>
    </a>
  </li>
  <li>
    <a ui-sref="wkd.communities" ui-sref-active="active">
      <i class="fa fa-group"></i>
      <span class="text">Communities</span>
    </a>
  </li>
  <li>
    <a ui-sref="wkd.initiatives" ui-sref-active="active">
      <i class="fa fa-lightbulb-o"></i>
      <span class="text">Initiatives</span>
    </a>
  </li>
  <li>
    <a ui-sref="wkd.organisations" ui-sref-active="active">
      <i class="fa fa-briefcase"></i>
      <span class="text">Organisations</span>
    </a>
  </li>
  <li>
    <a ui-sref="wkd.scorecards" ui-sref-active="active">
      <i class="fa fa-check-square-o"></i>
      <span class="text">Scorecards</span>
    </a>
  </li>
  <li>
    <a ui-sref="wkd.users" ui-sref-active="active">
      <i class="fa fa-user"></i>
      <span class="text">Users</span>
    </a>
  </li>
</ul>
