<h1>Communities</h1>

<wkd-action-panel toggle-title="Add new community">
  <ng-include src="'/templates/communities/_form.html'"></ng-include>
</wkd-action-panel>

<h2>Current communities</h2>

<table class="table table-striped table-hover" ts-wrapper>
  <thead>
    <tr>
      <td ts-criteria="attributes.name" ts-default>Name</td>
      <td ts-criteria="attributes.description">Description</td>
      <td ts-criteria="createdAt">Created at</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="community in vm.communities" ts-repeat>
      <td><a href ui-sref="^.view({ id: community.id })">{{ community.attributes.name }}</a></td>
      <td>{{ community.attributes.description }}</td>
      <td>{{ community.createdAt | date }} </td>
    </tr>
  </tbody>
</table>
