<h1>Communities</h1>

<wkd-action-panel toggle-title="Add new community">
  <ng-include src="'/templates/communities/_form.html'"></ng-include>
</wkd-action-panel>

<h2>Current communities</h2>

<div class="top-filter">
  <i class="fa fa-search"></i>
  <input type="text" placeholder="search communities" class="top-filter" ng-model="vm.filterText">
</div>

<table class="table table-striped table-hover" ts-wrapper>
  <thead>
    <tr>
      <td ts-criteria="attributes.name" ts-default>Name</td>
      <td ts-criteria="attributes.description">Description</td>
      <td ts-criteria="attributes.createdAt">Created at</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="community in vm.communities | filter:{attributes: { name: vm.filterText }}" ts-repeat>
      <td><a href ui-sref="^.view({ id: community.id })">{{ community.attributes.name }}</a></td>
      <td>{{ community.attributes.description | limitTo:75 }}<span ng-if="problem.attributes.description.length > 75">...</span></td>
      <td>{{ community.attributes.createdAt | date }} </td>
    </tr>
  </tbody>
</table>
