<h1>Activity logs</h1>

<div class="action-panel" ng-class="{ active: toggled }">
  <a href class="toggle" ng-click="toggled = !toggled">
    <i class="fa fa-filter"></i>
    Filter logs
  </a>
  <div ng-show="toggled" class="content slide-toggle">
    <div class="form-group">
      <select class="form-control" ng-model="vm.filter.trackable_type" ng-change="vm.filterLogs()">
        <option value="">-- All Entries --</option>
        <option value="Scorecard">Scorecards</option>
        <option value="ChecklistItem">Characteristics</option>
        <option value="WickedProblem">Wicked problems</option>
        <option value="Community">Communities</option>
        <option value="Initiative">Initiatives</option>
        <option value="Organisation">Organisations</option>
        <option value="User">Users</option>
      </select>
    </div>
  </div>
</div>

<table class="table table-striped table-hover" ts-wrapper>
  <thead>
    <tr>
      <td ts-criteria="attributes.createdAt" ts-default="descending">Time</td>
      <td>Event</td>
      <td>Message</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="log in vm.logs" ts-repeat>
      <td>{{:: log.attributes.createdAt | date:'medium' }}</td>
      <td>
        <i class="fa text-muted" ng-class="::vm.iconForEvent(log)"></i>
        <a ng-if="::vm.canNavigate(log)" href ng-click="vm.gotoEvent(log)">
          {{:: log.attributes.shortMessage }}
        </a>

        <span ng-hide="::vm.canNavigate(log)">
          {{:: log.attributes.shortMessage }}
        </span>
      </td>
      <td>{{:: log.attributes.longMessage }}</td>
    </tr>
  </tbody>
</table>
