<div class="w-full md:w-1/2 p-4">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="border-b px-4 py-2">
      <h3 class="text-lg font-semibold">Recent Activity</h3>
    </div>
    <div class="p-4 max-h-64 overflow-y-auto">
      <ul class="list-disc list-inside">
        <%- @recent_versions.each do |version| %>
          <li class="mb-2"><%= version_summary(version) %></li>
        <%- end %>
      </ul>
    </div>
    <div class="border-t px-4 py-2 text-right">
      <%= link_to(activities_path, class: 'text-blue-500 hover:text-blue-700 font-semibold') do
        safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
      end %>
    </div>
  </div>
</div>
