<div class="col-md-6">
  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-history"></i>

      <h3 class="box-title">Recent Activity</h3>
    </div>
    <div class="box-body scrollable-panel">
      <ul>
        <%- @recent_versions.each do |version| %>
          <li><%= version_summary(version) %></li>  
        <%- end %>
      </ul>
    </div>
    <div class="box-footer">
      <%= link_to(activities_path, {class: 'pull-right'}) do
        safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
      end %>
    </div>
  </div>
</div>