<div>
  <hr
    role="presentation"
    class="w-full border-t border-2 <%= border_color %>"
  />
  <div class="mt-6 text-lg/6 font-medium sm:text-sm/6"><%= link_to(title, link) %></div>
  <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8"><%= link_to(count, link) %></div>
  <div class="mt-3 text-sm/6 sm:text-xs/6">
    <span class="text-zinc-500"><%= link_to('More info', link) %></span>
  </div>
</div>
