<div class="col-md-6">
  <div class="card">
    <div class="card-header with-border">
      <h3 class="card-title">Hello</h3>
    </div>
    <div class="card-body scrollable-panel">
      <%= sanitize @welcome_message %>
    </div>
    <div class="card-footer text-right">
      <%= link_to(welcome_message_path, class: 'remote-link') do
        safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
      end %>        
    </div>
  </div>
</div>
