<h1>New organisation</h1>

<form ng-submit="" class="form-horizontal">
  <div class="form-group">
    <label for="org-name" class="col-sm-4 control-label">Organisation Name</label>

    <div class="col-sm-8">
      <input type="email" class="form-control" id="org-name" placeholder="enter organisation name">
    </div>
  </div>

  <div class="form-group">
    <label for="org-website" class="col-sm-4 control-label">Website</label>

    <div class="col-sm-8">
      <input type="text" class="form-control" id="org-website" placeholder="enter website">
    </div>
  </div>

  <div class="form-group">
    <label for="org-sector" class="col-sm-4 control-label">Sector</label>

    <div class="col-sm-8">
      <input type="text" class="form-control" id="org-sector" placeholder="enter sector">
    </div>
  </div>

  <div class="col-sm-offset-4">
    <button type="submit" class="btn btn-primary">
      Create organisation
    </button>
  </div>



</form>