<form ng-submit="vm.submitForm()" name="initiativeForm" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="initiative-name" class="required col-sm-4 control-label">initiative Name</label>

    <div class="col-sm-8">
      <input type="text" name="initiativeName" ng-model="vm.initiative.name" class="form-control" id="initiative-name" placeholder="enter initiative name" required>
    </div>

    <div class="field-errors" ng-messages="initiativeForm.initiativeName.$error" ng-show="initiativeForm.initiativeName.$touched">
      <p ng-message="required">Name is required.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="initiative-desc" class="required col-sm-4 control-label">Description</label>

    <div class="col-sm-8">
      <textarea id="initiative-desc" class="form-control" name="initiativeDesc" required ng-model="vm.initiative.description" placeholder="enter description"></textarea>
    </div>

    <div class="field-errors" ng-messages="initiativeForm.initiativeDesc.$error" ng-show="initiativeForm.initiativeDesc.$touched">
      <p ng-message="required">Description is required.</p>
    </div>
  </div>

  <div class="form-group" ng-if="!vm.insideModal">
    <label for="initiative-scorecard" class="required col-sm-4 control-label">
      <a href ng-show="vm.action !== 'list' && vm.initiative.scorecard.id" ui-sref="wkd.scorecard.view({ id: vm.initiative.scorecard.id })" title="goto scorecard">
        <i class="fa fa-external-link"></i>
      </a>
      Select a scorecard
    </label>

    <div class="col-sm-8">
      <select class="form-control" ng-model="vm.initiative.scorecard" name="initiativescorecard" id="initiative-scorecard" ng-options="scorecard.attributes.name for scorecard in vm.scorecards">
        <option value="">-- Assign scorecard --</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="initiative-organisation" class="required col-sm-4 control-label">Assign organisations</label>

    <div class="col-sm-8">
      <select class="form-control" ng-model="vm.selectOrganisation" ng-change="vm.addOrganisation()" name="initiativeOrganisation" id="initiative-organisation" ng-options="organisation.attributes.name for organisation in vm.organisations">
        <option value="">-- Select to add --</option>
      </select>
    </div>
  </div>

  <div class="col-sm-offset-4">
    <ul class="block-list">
      <li ng-repeat="org in vm.initiative.organisations">
        <i class="ico fa fa-briefcase"></i>
        <a href ui-sref="wkd.organisations.view({ id: org.id })">{{ org.attributes.name }}</a>
        <div class="actions">
          <a href ng-click="vm.removeOrganisation(org)">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-sm-offset-4">
    <input type="submit" ng-attr-value="{{ vm.action === 'list' ? 'Create' : 'Update' }} initiative" class="btn btn-primary" ng-disabled="initiativeForm.$invalid">

    <button type="button" ng-click="vm.deleteResource()" ng-if="vm.action !== 'list'" class="btn btn-danger">Delete initiative</button>

    <button type="button" ng-click="$dismiss()" ng-if="vm.insideModal" class="btn btn-danger">Cancel</button>
  </div>
</form>
