<ng-include src="'/templates/layout/errors.html'"></ng-include>

<form ng-submit="vm.submitForm()" ng-hide="vm.showNewOrgForm" name="vm.initiativeForm" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="initiative-name" class="required col-sm-4 control-label">Initiative Name</label>

    <div class="col-sm-8">
      <input type="text" name="initiativeName" ng-model="vm.initiative.name" class="form-control" id="initiative-name" placeholder="enter initiative name" required>
    </div>

    <div class="field-errors" ng-messages="vm.initiativeForm.initiativeName.$error" ng-show="vm.initiativeForm.initiativeName.$touched">
      <p ng-message="required">Name is required.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="initiative-desc" class="required col-sm-4 control-label">Description</label>

    <div class="col-sm-8">
      <textarea id="initiative-desc" class="form-control" name="initiativeDesc" required ng-model="vm.initiative.description" placeholder="enter description"></textarea>
    </div>

    <div class="field-errors" ng-messages="vm.initiativeForm.initiativeDesc.$error" ng-show="vm.initiativeForm.initiativeDesc.$touched">
      <p ng-message="required">Description is required.</p>
    </div>
  </div>

  <div class="form-group" ng-if="!vm.insideModal">
    <label for="initiative-scorecard" class="required col-sm-4 control-label">
      <a href ng-show="vm.action !== 'list' && vm.initiative.scorecard.id" ui-sref="wkd.scorecards.view({ id: vm.initiative.scorecard.id })" title="goto scorecard">
        <i class="fa fa-external-link"></i>
      </a>
      Select a scorecard
    </label>

    <div class="col-sm-8">
      <ui-select ng-model="vm.initiative.scorecard" theme="bootstrap">
        <ui-select-match placeholder="-- Assign scorecard --">
          {{ $select.selected.attributes.name }}
        </ui-select-match>
        <ui-select-choices repeat="scorecard in vm.scorecards | filter:{ attributes: { name: $select.search } } track by scorecard.id">
          <div ng-bind-html="scorecard.attributes.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group">
    <label for="initiative-organisation" class="required col-sm-4 control-label">Assign organisations</label>

    <div class="col-sm-8">
      <ui-select ng-model="vm.selectOrganisation" theme="bootstrap" on-select="vm.addOrganisation()">
        <ui-select-match placeholder="-- Select to add --">
          {{ $select.selected.attributes.name }}
        </ui-select-match>
        <ui-select-choices repeat="org in vm.organisations | orderBy:'attributes.name' | filter:{ attributes: { name: $select.search } } track by org.id">
          <div ng-bind-html="org.attributes.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <small ng-if="vm.insideModal"><br>
        <a href ng-click="vm.newOrganisation()"><i class="fa fa-plus"></i> Add new organisation</a>
      </small>
    </div>
  </div>

  <div class="col-sm-offset-4">
    <ul class="block-list">
      <li ng-repeat="org in vm.initiative.organisations">
        <i class="ico fa fa-briefcase"></i>
        <a href ui-sref="wkd.organisations.view({ id: org.id })">{{ org.attributes.name }}</a>
        <div class="actions">
          <a href ng-click="vm.removeOrganisation(org)">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-sm-offset-4">
    <input type="submit" ng-attr-value="{{ vm.action === 'list' ? 'Create' : 'Update' }} initiative" class="btn btn-primary" ng-disabled="vm.initiativeForm.$invalid">

    <button type="button" ng-click="vm.deleteResource()" ng-if="vm.action !== 'list'" class="btn btn-danger">Delete initiative</button>

    <button type="button" ng-click="$dismiss()" ng-if="vm.insideModal" class="btn btn-danger">Cancel</button>
  </div>
</form>

<div ng-if="vm.showNewOrgForm">
  <h3>Create new organisation</h3>
  <ng-include ng-controller="WKD.Organisations.Controller as vm" src="'/templates/organisations/_form.html'"></ng-include>
</div>
