<div class="box">
  <div class="box-header">
    <%= link_to "New Scorecard", new_scorecard_path, class: 'btn btn-primary' %>
  </div>
  <div class='box-body no-padding'>
  <%= table_for @scorecards, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          :id => lambda { |scorecard| "scorecard-#{scorecard.id}" }
                        } do |table| %>
    <% table.column :name %>
    <% table.column :description, :formatter => lambda { |description| Nokogiri::HTML(description).text} %>
    <% table.column :data => "Show", :link => true %>
    <% table.column :data => 'Edit', :link_action => :edit %>
    <% table.column :data => 'Delete', :link_method => :delete, :link_confirm => "Are you sure?" %>
    <% table.footer do %>
      <div class="pull-right">
        <%= paginate @scorecards %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>