<% content_for :page_actions do %>
  <%=
    if policy(Scorecard).create?  
      link_to(new_scorecard_path, class: 'btn btn-primary') do
        safe_join([content_tag(:i, '', class: "fa fa-plus"), ' New Scorecard'])
      end
    end 
  %>
<% end %>

<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @scorecards, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |scorecard| "scorecard-#{scorecard.id}" },
                          class: 'table-no-actions'
                        } do |table| %>
    <% table.column :name, link: true, :formatter => lambda { |text| truncate_text(text, 30) }  %>
    <% table.column :description, :formatter => lambda { |text| truncate_text(text, 135) } %>
    <% table.footer do %>
      <div class="pull-right">
        <%= paginate @scorecards %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>