<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span></button>
  <h4 class="modal-title">Share <%= Scorecard.model_name.human %></h4>
</div>
<div class="modal-body">
  <h4>Direct link</h4>
  <pre>
    <%= shared_url(id: @scorecard.shared_link_id) %>
  </pre>

  <h4>Embed on your website</h4>
  <pre>
    <%= "<a href=\"#{shared_url(id: @scorecard.shared_link_id)}\" target=\"_blank\">
      #{@scorecard.name}
    </a>"
    %>
  </pre>
</div>
<div class="modal-footer hidden">
  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
</div>