<%- if element.color.present? %>
  <span class="w-2 mr-1" style="background-color: <%= element.color %>">&nbsp;</span>
<% end %>
<span class="inline-flex items-center group">
  <%= display_name(element) %>
  <%= render_icon :edit, classes: "ml-1 invisible group-hover:visible" %>
</span>