<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="max-sm:w-full sm:flex-1">
      <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">Initiatives</h1>
    </div>
  </div>
  <ul class="mt-10">
    <%= turbo_frame_tag :initiatives do %>
      <%= render @initiatives %>
    <% end %>
    <%=
      turbo_frame_tag :pagination,
        loading: :lazy,
        src: initiatives_path(format: :turbo_stream, page: @pagy.next)
    %>
  </ul>
</div>
