<% content_for :page_actions do %>
  <%=
    if policy(Initiative).create?  
      link_to(new_initiative_path, class: 'btn btn-primary') do
        safe_join([content_tag(:i, '', class: "fa fa-plus"), ' New Initiative'])
      end
    end 
  %>
<% end %>

<div class="box">
  <div class='box-body no-padding'>
  <%= table_for @initiatives, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |initiative| "initiative-#{initiative.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link: true, formatter: lambda { |text| truncate_text(text, 60) } %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 60) } %>
    <% table.column :scorecard_name, :sortable => false, formatter: lambda { |text| truncate_text(text, 30) } %>
    <% table.column :data => "Modify", link_action: :edit %>
    <% table.column :data => "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="pull-right">
        <%= paginate @initiatives %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
