<div id="initiatives-nav" class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#checklist-items-tab" class="nav-link active" data-toggle="tab">
        Initative Characteristics
      </a>
    </li>
    <li class="nav-item">
      <a href="#details-tab" class="nav-link" data-toggle="tab">Details</a>
    </li>
  </ul>
  <div class="tab-content">
    <%= render 'checklist_items' %>
    <%= render 'details' %>
  </div>
</div>
