<form ng-submit="vm.submitForm()" name="problemForm" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="problem-name" class="required col-sm-4 control-label">Wicked problem Name</label>

    <div class="col-sm-8">
      <input type="text" name="problemName" ng-model="vm.problem.name" class="form-control" id="problem-name" placeholder="enter problem name" required>
    </div>

    <div class="field-errors" ng-messages="problemForm.problemName.$error" ng-show="problemForm.problemName.$touched">
      <p ng-message="required">Name is required.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="problem-desc" class="required col-sm-4 control-label">Description</label>

    <div class="col-sm-8">
      <textarea id="problem-desc" class="form-control" name="problemDesc" required ng-model="vm.problem.description" placeholder="enter description"></textarea>
    </div>

    <div class="field-errors" ng-messages="problemForm.problemDesc.$error" ng-show="problemForm.problemDesc.$touched">
      <p ng-message="required">Description is required.</p>
    </div>
  </div>
  <div class="col-sm-offset-4">
    <input type="submit" ng-attr-value="{{ vm.action === 'list' ? 'Create' : 'Update' }} problem" class="btn btn-primary" ng-disabled="problemForm.$invalid">

    <button type="button" ng-click="vm.deleteResource()" ng-if="vm.action !== 'list'" class="btn btn-danger">Delete problem</button>

    <button type="button" ng-click="$dismiss()" ng-if="vm.insideModal" class="btn btn-danger">Cancel</button>
  </div>
</form>
