<h2>Wicked Problem Details</h2>

<form class="form-horizontal" ng-submit="vm.update()">
  <div class="form-group">
    <label for="problem-name" class="col-sm-4 control-label">Wicked Problem Name</label>

    <div class="col-sm-8">
      <input type="text" ng-model="vm.problem.name" class="form-control" id="problem-name" placeholder="enter wicked problem name">
    </div>
  </div>

  <div class="form-group">
    <label for="problem-desc" class="col-sm-4 control-label">Description</label>

    <div class="col-sm-8">
      <textarea class="form-control" id="problem-desc" ng-model="vm.problem.description" placeholder="enter description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="problem-community" class="col-sm-4 control-label">
      <a href ui-sref="wkd.communities.view({ id: vm.problem.relationships.community.data.id })" title="goto community"><i class="fa fa-external-link"></i></a> Community
    </label>

    <div class="col-sm-8">
      <select class="form-control" id="problem-community" ng-model="vm.problem.relationships.community.data" ng-options="community.attributes.name for community in vm.communities track by community.id">
      </select>
    </div>
  </div>

  <div class="col-sm-offset-4">
    <input type="submit" class="btn btn-primary" value="Update problem">

    <button class="btn btn-danger" type="button" ng-click="vm.destroy()">
      Delete problem
    </button>
  </div>
</form>
