<h2>
  Initiatives

  <div class="actions">
    <a ui-sref="wkd.initiatives.new">
      <i class="fa fa-plus"></i> add new initiative
    </a>
  </div>
</h2>

<popout-accordion>
  <popout-accordion-group ng-repeat="initiative in vm.initiatives" group-open="initiative.$showChecklist">
    <popout-accordion-title>
      <a href ng-click="vm.showChecklist(initiative)">
        {{ initiative.attributes.name }}
      </a>

      <div class="actions" ng-hide="initiative.$loading">
        <a href ui-sref="wkd.initiatives.view({ id: initiative.id })" title="edit">
          <i class="fa fa-pencil"></i>
        </a>
      </div>

      <div class="actions" ng-show="initiative.$loading">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </popout-accordion-title>

    <popout-accordion-panel class="checklist">
      <p>{{ initiative.attributes.description }}</p>

      <hr>
      <ng-include src="'/templates/initiatives/_checklist-items.html'"></ng-include>
    </popout-accordion-panel>
  </popout-accordion-group>
</popout-accordion>
