<h1>New Wicked Problem</h1>

<wizard on-finish="finishedWizard()" name="problem-wizard">
  <wz-step title="Wicked Problem">
    <ng-include src="'/templates/problems/wizard/problems.html'"></ng-include>
  </wz-step>
  <wz-step title="Community">
    <ng-include src="'/templates/problems/wizard/community.html'"></ng-include>
  </wz-step>
  <wz-step title="Initiatives">
    <ng-include src="'/templates/problems/wizard/initiatives.html'"></ng-include>
  </wz-step>
  <wz-step title="Preview">
    <ng-include src="'/templates/problems/wizard/preview.html'"></ng-include>
  </wz-step>
</wizard>

