<div class="tab-pane" id="scorecard">
  <div class='box-body'>
    <%= form.input :name, required: true %>
    <%= form.input :description , as: :text, input_html: { class: 'textarea' } %>
  </div>
</div>
