<% content_for :page_actions do %>
  <%= create_new_button(new_wicked_problem_path) %>
<% end %>

<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @wicked_problems, :table_html => { :class => "table table-striped table-base" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |wicked_problem| "wicked_problem-#{wicked_problem.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link: true %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 200) } %>
    <% table.column :data => "Modify", link_action: :edit %>
    <% table.column :data => "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @wicked_problems %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
