<%- if @initiatives.present? %>
  <h6><strong>Contributing Initiatives</strong></h6>
  <ul>
    <%- @initiatives.each do |initiative| %>
      <li><%= initiative.name %></li>
    <%- end -%>
  </ul>
<%-end -%>
