<div class="modal-header">
  <h5 class="modal-title">
    <strong>
      <%= @characteristic.name %>
    </strong>
  </h5>
</div>
<div class="modal-body">
  <%= render 'sustainable_development_goal_alignment_cards/show_tabs/characteristics/description' %>
  <%= render 'sustainable_development_goal_alignment_cards/show_tabs/characteristics/initiatives' %>
  <%= render 'sustainable_development_goal_alignment_cards/show_tabs/characteristics/targets' %>
</div>

