<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  
  <div>
    <ul class="sidebar-menu">
      <li class="header">SYSTEM MENU</li>
      <%= menu_item_tag(:focus_area_groups, 'focus_area_groups') %>
      <%= menu_item_tag(:focus_areas, 'focus_area_groups') %>
      <%= menu_item_tag(:characteristics, 'focus_area_groups') %>
    </ul>
  </div>
</aside>

<div class="control-sidebar-bg"></div>