<% flash.each do |type, message| %>
    <div class="toast toast-auto-hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body">
        <%= message %>
      </div>
    </div>
  </div>
<% end %>
