<% if flash.any? %>
  <div class='inset-0 items-start justify-end'>
    <div class='flex flex-col items-center justify-center'>
      <% flash.each do |type, message| %>
        <%= render FlashMessage::Component.new(type: type, message: message) %>
      <% end %>
    </div>
  </div>
<% end %>
