<%= link_to root_path, class: 'logo' do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <%# SMELL Inline styles!!! %>
    <span class="logo-mini"><%= image_tag('logo.png', style: 'height:35px;margin-top:-4px;')%></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><%= image_tag('logo.png', style: 'height:35px;margin-top:-4px;margin-right:7px')%><b>Wicked</b>Lab</span>
<% end %>
  