<% content_for :page_actions do %>
  <%=
    link_to(system_users_path(format: :csv), class: 'btn btn-primary' ) do
      safe_join([content_tag(:i, '', class: "fa fa-download"), ' Export'])
    end
  %>
<% end %>

  <div class="box">
  <div class='box-body no-padding'>
  <%= table_for @users, table_html: { :class => "table table-striped" },
                        link_namespace: [:system],
                        sortable: true,
                        data_row_html: {
                          id: lambda { |user| "user-#{user.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link: true %>
    <% table.column :email %>
    <% table.column :primary_account_name, sortable: false %>
    <% table.column :status, sortable: false %>
    <% table.column :created_at %>

    <% table.column data: lambda {
          case table.current_row.status
          when 'deleted'
            'Undelete'
          when 'invitation-pending'
            'Resend Invitation'
          else
            '-'
          end
        },
        link_url: lambda { |user|
          case user.status
          when 'deleted'
            undelete_system_user_path(user)
          when 'invitation-pending'
            resend_invitation_system_user_path(user)
          else
            nil
          end
        }
    %>
    <%
      table.column \
        data: lambda { |user| user.id == current_user.id ? '' : 'Impersonate' },
        link_url: lambda { |user| impersonate_system_user_path(user) unless user.id == current_user.id},
        link_method: :post
    %>
    <% table.column data: "Modify", link_action: :edit %>
    <% table.column data: "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @users %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
