<h1>
  Tutorials
</h1>


<h6>
  How to use WickedLab
</h6>

<ul class="video-tutorals">
  <li>
    <a href ng-click="vm.playVideo()">
      <i class="fa fa-youtube-play"></i>
      <span>Creating a scorecard</span>
    </a>
  </li>
  <li>
    <a href ng-click="vm.playVideo()">
      <i class="fa fa-youtube-play"></i>
      <span>Inviting a user</span>
    </a>
  </li>
  <li>
    <a href ng-click="vm.playVideo()">
      <i class="fa fa-youtube-play"></i>
      <span>Marking off characteristics</span>
    </a>
  </li>
  <li>
    <a href ng-click="vm.playVideo()">
      <i class="fa fa-youtube-play"></i>
      <span>Using the scorecard</span>
    </a>
  </li>
  <li>
    <a href ng-click="vm.playVideo()">
      <i class="fa fa-youtube-play"></i>
      <span>Doing something</span>
    </a>
  </li>
  <li>
    <a href ng-click="vm.playVideo()">
      <i class="fa fa-youtube-play"></i>
      <span>Doing something else</span>
    </a>
  </li>
</ul>


<h6>Characteristics</h6>
