<h1>New Scorecard</h1>

<wizard on-finish="finishedWizard()" name="scorecard-wizard">
  <wz-step title="Name Scorecard">
    <ng-include src="'/templates/scorecards/wizard/scorecard.html'"></ng-include>
  </wz-step>
  <wz-step title="Wicked Problem">
    <ng-include src="'/templates/scorecards/wizard/problems.html'"></ng-include>
  </wz-step>
  <wz-step title="Community">
    <ng-include src="'/templates/scorecards/wizard/community.html'"></ng-include>
  </wz-step>
  <wz-step title="Initiatives">
    <ng-include src="'/templates/scorecards/wizard/initiatives.html'"></ng-include>
  </wz-step>
  <wz-step title="Preview">
    <ng-include src="'/templates/scorecards/wizard/preview.html'"></ng-include>
  </wz-step>
</wizard>

