<% if @organisation.errors.count > 0 %>
  $(".notice").remove(); 
  //display new validation messages
  <% @organisation.errors.full_messages.each do |message| %>
    $('#error-messages').append('<div class="alert alert-error"><%= escape_javascript(message)%></div>');
  <% end %>
<% else %>
  $('#organisation-modal').modal('hide');

  newItem = {
    id: <%= @organisation.id %>,
    name: '<%= @organisation.name %>'
  }

  $('div.organisations').children()
                        .first()
                        .attr('data-initiative-nested-form-new-item-value', JSON.stringify(newItem))
<% end %>


