<% if @organisation.errors.count > 0 %>
  $(".notice").remove(); 
  //display new validation messages
  <% @organisation.errors.full_messages.each do |message| %>
    $('#error-messages').append('<div class="alert alert-error"><%= escape_javascript(message)%></div>');
  <% end %>
<% else %>
  debugger;
  $('#organisation-modal').modal('hide');
  $("[data-association='initiatives_organisation']").click();
  var newSelect = $('.assign-organisation-select').last();
  newSelect.append($('<option>', {value: '<%= @organisation.id %>', text:'<%= @organisation.name %>'}))
  newSelect.val('<%= @organisation.id %>');


  var emptyFormCount = $('.assign-organisation-select').filter(function(){return $(this).val() == ''}).length;
  if (emptyFormCount == 0) {
    $("[data-association='initiatives_organisation']").click();
  }
<% end %>


