<% if @organisation.errors.count > 0 %>
  $(".notice").remove(); 
  //display new validation messages
  <% @organisation.errors.full_messages.each do |message| %>
    $('#error-messages').append('<div class="alert alert-error"><%= escape_javascript(message)%></div>');
  <% end %>
<% else %>
  $('#organisation-modal').modal('hide');
  var newSelect = $('.scorecard_initiatives_initiatives_organisations_organisation_id').last().find('select');
  newSelect.append($('<option>', {value: '<%= @organisation.id %>', text:'<%= @organisation.name %>'}))
  newSelect.val('<%= @organisation.id %>');
<% end %>


