<% content_for :page_actions do %>
  <%= create_new_button(new_sector_path) %>
<% end %>

<div class="box">
  <div class='box-body no-padding'>
  <%= table_for @sectors, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |sector| "sector-#{sector.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link_action: :edit, formatter: lambda { |text| truncate_text(text, 30) } %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 100) } %> %>
    <% table.column :color, formatter: lambda { |color| "<span style='width:10px; background-color:#{color}'>&nbsp;&nbsp;&nbsp;</span> #{color}".html_safe } %>
    <% table.column :data => "Modify", link_action: :edit %>
    <% table.column :data => "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="pull-right">
        <%= paginate @sectors %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
