<turbo-stream action="update" target="new_initiatives_organisation">
  <template>
    <%= 
      link_to(
        'Add Stakeholder', 
        '#', 
        id: 'add-organisation', 
        class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500', 
        data: { action: 'initiatives-organisations#addTag' } 
      )
    %>

    <%= 
      link_to(
        'Create Stakeholder', 
        new_initiatives_organisation_path, 
        class: 'ml-2 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500', 
        data: { turbo_frame: 'new_initiatives_organisation' }
      )
    %>
  </template>
</turbo-stream>

<turbo-stream action="append" target="organisations">
  <template>
    <div class="flex items-center space-x-4 mt-2 organisation">
      <%# TODO: Replace this index 'hack' with an index value in sequence with tags on the page %>
      <% index = @organisation.id + rand(100000) %>
      <%=
        custom_select_tag(
          "initiative[initiatives_organisations_attributes][#{index}][organisation_id]",
          options_for_organisation_select(@organisation),
          include_blank: 'Select a stakeholder',
        )
      %>
      <%= link_to 'Remove', '#', class: 'text-red-500', data: { action: 'initiatives-organisations#removeTag' } %>
    </div>
  </template>
</turbo-stream>

