<% content_for :page_actions do %>
  <%=
    link_to(new_user_invitation_path, class: 'btn btn-primary' ) do
      safe_join([content_tag(:i, '', class: "fa fa-plus"), ' Invite User'])
    end 
    
  %>
<% end %>

<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @users, table_html: { class: "table table-striped table-base" },
                        sortable: true,
                        data_row_html: {
                          id: lambda { |user| "user-#{user.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link: true %>
    <% table.column :email %>
    <% table.column :account_role, data: lambda { user_role_in_current_account(table.current_row) }, sortable: false %>
    <% table.column :status, sortable: false %>
    <% table.column :created_at %>
    <% table.column data: lambda { 
          case table.current_row.status 
          when 'deleted'
            'Undelete'
          when 'invitation-pending'
            'Resend Invitation'
          else
            '-'  
          end
        },
        link_url: lambda { |user| 
          case user.status
          when 'deleted'
            undelete_system_user_path(user)
          when 'invitation-pending'
            resend_invitation_system_user_path(user)
          else
            nil
          end
        }
    %>
    <% table.column data: "Modify", link_action: :edit %>
    <% table.column data: lambda { (table.current_row == current_user) ? '-' : 'Remove' },
      link_url: lambda { (table.current_row == current_user) ? nil : remove_from_account_user_path(table.current_row) },
      link_confirm: "Are you sure?"
    %>
    <% table.footer do %>
      <div class="pull-right">
        <%= paginate @users %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>