<% content_for :page_actions do %>
  <%= create_new_button(new_stakeholder_type_path) %>
<% end %>

<div class="box">
  <div class='box-body no-padding'>
  <%= table_for @stakeholder_types, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :link_namespace => Array.wrap(@stakeholder_types.first.system_stakeholder_type? ? :system : nil),
                        :data_row_html => {
                          id: lambda { |stakeholder_type| "stakeholder_type-#{stakeholder_type.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link_action: :edit, formatter: lambda { |text| truncate_text(text, 30) }

    %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 100) } %> %>
    <% table.column :color, formatter: lambda { |color| "<span style='width:10px; background-color:#{color}'>&nbsp;&nbsp;&nbsp;</span> #{color}".html_safe } %>
    <% table.column data: "Modify", link_action: :edit %>
    <% table.column data: "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @stakeholder_types %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
