<p>Dear <%= @user_name %>,</p>

<p>This is a reminder that your Tool for Systemic Change license will expire on: <%= @expires_on %>.</p>

<p>License fees are annual, and pricing information is available <%= link_to 'here', root_url + @pricing_pdf %>.</p>

<p>If you would like to continue using the Tool please have the <em>Account Owners</em> in your organisation reply to this email and let us know:</p>

<ul>
  <li>The number of Transition Cards or SDGs Cards you require</li>
  <li>The number of User accounts you need</li>
</ul>

<p>We'll then send an invoice for a 12-month license.</p>
<p>The type of licence will depend on whether the account holder is For Purpose, Corporate or Academic use.</p>

<p>Please let us know if you have any questions.</p>

<p>The Wicked Lab Team</p>
