<%= render 'impact_cards/classic_stylesheet', impact_card: @scorecard, focus_areas: @focus_areas %>
<div class="mx-auto max-w-6xl">
  <%= render 'shared/summary', impact_card: @scorecard, print_description: true %>
  <%= render 'shared/tabs', impact_card: @scorecard %>
  <div>
    <%= render 'impact_cards/grid', impact_card: @scorecard, impact_card_grid: @scorecard_grid, search_url: shared_path(@scorecard.shared_link_id), theme_controls_visible: true %>
  </div>
</div>
