<!DOCTYPE html>
<html>
<head>
  <title>WickedLab</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body class="skin-blue">
  <% if @scorecard.present? %>
    <%= link_to @scorecard.name, shared_url(id: @scorecard.shared_link_id), target: '_blank' %>
  <% else %>
    <p>The linked <%= Scorecard.model_name.human %> cannot be found.</p>
  <% end %>  
</body>
</html>