<%= render 'labels/stylesheet', labels: @stakeholder_types %>
<div class="mx-auto max-w-6xl" data-controller="stakeholder-network">
  <%= render 'shared/summary', impact_card: @scorecard %>
  <%= render 'shared/tabs', impact_card: @scorecard %>
  <%= render 'impact_cards/stakeholder_network/graph', impact_card: @scorecard, theme_controls_visible: true %>
</div>
