<div class="tab-pane" id="community">
  <div class="box-body">
    <%= form.association :community, collection: lookup_communities, label: "Select a Community", value_method: :id %>
    <hr>
    <label class="col-sm-3 control-label select">Or</label>
    <div class="col-sm-9">
      <%= link_to "Create a New Community", new_community_path, remote: true, class: "btn btn-primary pull-left" %>
    </div>
  </div>
</div>