<div class="organisations">

  <%= f.simple_fields_for :initiatives_organisations do |initiatives_organisation_form| %>
    <%= render 'scorecards/form_tabs/organisation_fields', f: initiatives_organisation_form %>
  <% end %>
  <div class="links">
    <%=
      link_to_add_association(
        'assign organisation',
        f,
        :initiatives_organisations,
        partial: 'scorecards/form_tabs/organisation_fields',
        class: 'btn btn-primary'
      )
    %>
  </div>
</div>
