<div class="form-group row">
  <label class="col-sm-3 col-form-label">Assign Organisations</label>
  <div class="organisations">
    <%= f.simple_fields_for :initiatives_organisations do |initiatives_organisation_form| %>
      <%= render 'scorecards/form_tabs/organisation_fields', f: initiatives_organisation_form %>
    <% end %>
    <div class="links row d-flex justify-content-start ml-5">
      <%=
        link_to_add_association(
          '',
          f,
          :initiatives_organisations,
          partial: 'scorecards/form_tabs/organisation_fields'
        )
      %>
      <div class="row">
        <label class="pt-1 mr-2">Or</label>
        <%= 
          link_to(
            "Create an Organisation", 
            new_organisation_path, 
            remote: true, 
            class: "btn btn-secondary organisation-link"
          ) 
        %>
      </div>

    </div>
  </div>
</div>
<hr/>
