<div class="nested-fields pl-5">
  <div class="form-group row">
    <label class="pt-1">Select Existing</label>
    <div class="col col-nested">
      <%= 
        f.input_field \
          :subsystem_tag_id, 
          collection: lookup_subsystem_tags, 
          prompt: 'Select a Subsystem Tag', 
          class: 'form-control is-valid select optional assign-subsystem-tag-select'
      %>
    </div>
    <div class="col"> 
      <%= 
        link_to(
          "Create a Subsystem Tag", 
          new_subsystem_tag_path, 
          remote: true, 
          class: "btn btn-secondary subsystem-tag-link"
        )
      %>
    </div>
    <div class="col-sm-1">
      <%= 
        link_to_remove_association f, class: 'btn form-control' do
          content_tag(:i, nil, class: 'fa fa-remove')
        end
      %>
    </div>
  </div>  
</div>
