<div class="nested-fields xbox-body">

  <%= 
    f.input \
      :subsystem_tag_id, 
      collection: lookup_subsystem_tags, 
      prompt: 'Select a Subsystem Tag', 
      label: "Select Existing", 
      input_html: { class: 'assign-subsystem-tag-select' } 
  %>
  

  <div class="form-group row"> 
    <label class="col-sm-3 col-form-label">Or</label>
    <div class="col-sm-9"> 
      <%= 
        link_to(
          "Create a New Subsystem Tag", 
          new_subsystem_tag_path, 
          remote: true, 
          class: "btn btn-secondary subsystem-tag-link"
        )
      %>
    </div>    
  </div>
    
  <%= link_to_remove_association "remove subsystem tag", f %>
</div>
