<div class="subsystem_tags">
  <%= f.simple_fields_for :initiatives_subsystem_tags do |initiatives_subsystem_tag_form| %>
    <%= render 'scorecards/form_tabs/subsystem_tag_fields', f: initiatives_subsystem_tag_form %>
  <% end %>
  <div class="links">
    <%=
      link_to_add_association(
        'assign subsytem tags',
        f,
        :initiatives_subsystem_tags,
        partial: 'scorecards/form_tabs/subsystem_tag_fields',
        class: 'btn btn-primary'
      )
    %>
  </div>
</div>
