<div class="tab-pane" id="wicked-problem">
  <div class="box-body">
    <%= form.association :wicked_problem, collection: lookup_wicked_problems, label: "Select a Wicked Problem", value_method: :id %>
    <hr>
    <label class="col-sm-3 control-label select">Or</label>
    <div class="col-sm-9">
      <%= link_to "Create a New Wicked Problem", new_wicked_problem_path, remote: true, class: "btn btn-primary pull-left" %>
    </div>
  </div>
</div>