<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-base font-semibold leading-7 text-yellow-400">Our sponsors</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">We're proud to be supported by this amazing company</p>
    <%= link_to 'https://www.appsignal.com/', target: :blank do %>
      <div class="flex justify-center items-center mt-8">
        <div class="bg-white/10 p-4 rounded-lg">
          <%= render_icon :app_signal %>
        </div>
      </div>
    <% end %>
  </div>
</div>