<div class="home">
  <div class="jumbotron">
    <div class="row justify-content-center text-center">
      <div class="col-7">
        <h1 style="margin-top:20px">Contributors</h1>


        <h2 style="margin-top:60px">Development of the Tool for Systemic Change would not have been possible without the contributions of many wonderful people and groups over the years.</h2>

        <h1 style="margin-top:60px">These are just some of the people we'd like to thank:</h1>

        <h5 style="margin-top:40px">Emily Humphreys (for releasing the code under an <a href="https://github.com/EventideSystems/tool_for_systemic_change" target="_blank">open source license</a>)</h5>
        <h5>Dr Sharon Zivkovic (for granting us access to her intellectual property)</h5>
        <h5>David Le Blanc (for inspiring the <a href="https://www.un.org/esa/desa/papers/2015/wp141_2015.pdf" target="_blank">SDGs Thematic Network Map<a>)</h5>

        <h4 style="margin-top:30px">... and you, for continuing to use the tool and helping it grow.</h4>
      </div>
    </div>
  </div>
</div>
