<div class="relative isolate overflow-hidden">
  <%= render 'top_links' %>
  <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pb-16 pt-8 sm:pb-16 lg:px-8 lg:pt-40 flex flex-col">
    <div class="flex items-center gap-x-6 ml-8 mb-8">
      <%= image_tag 'logo-small.png', class: 'h-16 w-auto', alt: "Logo for the 'Tool for Systemic Change'" %>
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Obsekio Cookie Policy</h1>
    </div>
    <div class="text-white bg-teal-900 rounded-lg p-8 w-full">
      <div class="text-white bg-teal-900 rounded-lg p-8 w-full">
      <h2 class="text-3x1 font-bold leading-10">Preamble</h2>
      <p class="my-4 text-gray-300">        
        This Cookie Policy explains how our digital platform uses cookies and similar tracking technologies to enhance user 
        experience and provide personalised services. By continuing to use our platform, you consent to our use of cookies 
        in accordance with this policy.
      </p>


      <h2 class="text-3x1 font-bold leading-10">1. What Are Cookies?</h2>

      <p class="my-4 text-gray-300">
        Cookies are small text files that are placed on your device when you visit our platform. They help us understand 
        how you interact with our platform and remember your preferences for future visits.
      </p>

      <h2 class="text-3x1 font-bold leading-10">2. Types of Cookies We Use</h2>

      <p class="my-4 text-gray-300">
        Essential Cookies: These cookies are necessary for the basic functioning of our platform, such as enabling secure 
        login and session management.
      </p>
      <p class="my-4 text-gray-300">
        Performance Cookies: These cookies collect information about how you use our platform, allowing us to improve its 
        performance and user experience.
      </p>
      <p class="my-4 text-gray-300">
        Functional Cookies: These cookies remember your preferences and settings, such as language and region, to provide a 
        more personalised experience.
      </p>
      <p class="my-4 text-gray-300">
        Advertising Cookies: These cookies are used to deliver relevant ads and track the effectiveness of our advertising campaigns.
      </p>

      <h2 class="text-3x1 font-bold leading-10">3. How We Use Cookies</h2>
      <p class="my-4 text-gray-300">
        We use cookies to:
        <ul class="list-disc list-inside mb-4">
          <li>Provide and maintain our services.</li>
          <li>Enhance user experience by remembering preferences and settings.</li>
          <li>Analyse and improve the performance and functionality of our platform.</li>
          <li>Deliver personalised content.</li>
        </ul>
      </p>

      <p class="my-4 text-gray-300">
        Note: Per our <%= landing_pages_link_to 'Privacy Policy', privacy_path %>, we do not use cookies to collect personal 
        information or share data with third parties for advertising purposes.
      </p>

      <h2 class="text-3x1 font-bold leading-10">4. Managing Cookies</h2>
      <p class="my-4 text-gray-300">
        You can manage your cookie preferences through your browser settings. Most browsers allow you to block or delete cookies, but please note that disabling essential cookies may affect the functionality of our platform.
      </p>

      <h2 class="text-3x1 font-bold leading-10">5. Third-Party Cookies</h2>
      <p class="my-4 text-gray-300">
        Our platform may include third-party cookies from trusted partners who provide services such as analytics and advertising. These third parties have their own privacy policies governing their use of cookies.
      </p>

      <h2 class="text-3x1 font-bold leading-10">6. Changes to This Cookie Policy</h2>
      <p class="my-4 text-gray-300">
        We reserve the right to update or modify this Cookie Policy at any time. Any changes will be posted on this page, and your continued use of the platform after such changes constitutes acceptance of the revised policy.
      </p>

      <h2 class="text-3x1 font-bold leading-10">Contact Us</h2>
      <p class="my-4 text-gray-300">
        If you have any questions or concerns about this Cookie Policy, please contact us via the <%= landing_pages_link_to 'Privacy Contact Form', privacy_contacts_path %>.
      </p>
    </div>
  </div>
</div>  