<div class="relative isolate overflow-hidden">
  <%= render 'top_links' %>
  <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pb-16 pt-8 sm:pb-16 lg:px-8 lg:pt-40 flex flex-col">
    <div class="flex items-center gap-x-6 ml-8 mb-8">
      <%= image_tag 'logo-small.png', class: 'h-16 w-auto', alt: "Logo for the 'Tool for Systemic Change'" %>
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Obsekio Cookies Policy</h1>
    </div>
    <div class="text-white bg-teal-900 rounded-lg p-8 w-full">
      <h2 class="text-3x1 font-bold leading-10">Overview</h2>
      <p class="my-4 text-gray-300">
        We use cookies to help improve your experience of our website at <%= landing_pages_link_to 'www.obsek.io', 'https://www.obsek.io' %>. This 
        cookie policy is part of Eventide Systems' <%= landing_pages_link_to 'Privacy Policy', privacy_path %>. 
        It covers the use of cookies between your device and our site.
      </p>
      <p class="my-4 text-gray-300">
        We also provide basic information on third-party services we may use, who may also use cookies as part of their 
        service. This policy does not cover their cookies.
      </p>
      <p class="my-4 text-gray-300">
        If you don’t wish to accept cookies from us, you should instruct your browser to refuse cookies from 
        <a href="https://www.obsek.io">www.obsek.io</a>, or any other URL you use to access the site. In such a case, 
        we may be unable to provide you with some of your desired content and services.
      </p>

      <h2 class="text-3x1 font-bold leading-10">
        What is a cookie?
      </h2>
      <p class="my-4 text-gray-300">
        A cookie is a small piece of data that a website stores on your device when you visit. It typically contains 
        information about the website itself, a unique identifier that allows the site to recognise your web browser 
        when you return, additional data that serves the cookie’s purpose, and the lifespan of the cookie itself.
      </p>

      <p class="my-4 text-gray-300">
        Cookies are used to enable certain features (e.g. logging in), track site usage (e.g. analytics), store your 
        user settings (e.g. time zone, notification preferences), and to personalise your content (e.g. advertising, 
        language).
      </p>

      <p class="my-4 text-gray-300">
        Cookies set by the website you are visiting are usually referred to as first-party cookies. They typically only 
        track your activity on that particular site.
      </p>

      <p class="my-4 text-gray-300">
        Cookies set by other sites and companies (i.e. third parties) are called third-party cookies They can be used to 
        track you on other websites that use the same third-party service.
      </p>

      <h2 class="text-3x1 font-bold leading-10">
        Types of cookies and how we use them:
      </h2>
      
      <h3 class="text-l font-bold leading-10">
        Essential cookies
      </h3>

      <p class="my-4 text-gray-300">
        Essential cookies are crucial to your experience of a website, enabling core features like user logins, account 
        management, shopping carts, and payment processing.
      </p>
      
      <p class="my-4 text-gray-300">
        We <b>do</b> use this type of cookie on our site.
      </p>

      <h3 class="text-l font-bold leading-10">
        Advertising cookies
      </h3>

      <p class="my-4 text-gray-300">
        Advertising cookies are used to deliver advertisements that are relevant to you and your interests. In addition, 
        they are used to limit the number of times you see an advertisement. They are usually placed to the website by 
        advertising networks with the website operator’s permission.
      </p>
      <p class="my-4 text-gray-300">
        We <b>do not</b> use this type of cookie on our site.
      </p>
      <h3 class="text-l font-bold leading-10">
        Analytics cookies
      </h3>
      <p class="my-4 text-gray-300">
        Analytics cookies help website owners to understand how visitors interact with websites by collecting and 
        reporting information anonymously.
      </p>
      <p class="my-4 text-gray-300">
        We <b>do not</b> use this type of cookie on our site.
      </p>
      <h3 class="text-l font-bold leading-10">
        Preference cookies
      </h3>
      <p class="my-4 text-gray-300">
        Preference cookies enable a website to remember information that changes the way the website behaves or looks, 
        like your preferred language or the region that you are in.
      </p>
      <p class="my-4 text-gray-300">
        We <b>do </b> use this type of cookie on our site.
      </p>
      <h3 class="text-l font-bold leading-10">
        Social media cookies
      </h3>
      <p class="my-4 text-gray-300">
        Social media cookies are used to enable you to share pages and content that you find interesting on our site 
        through third-party social networking and other websites. These cookies may also be used for advertising purposes.
      </p>
      <p class="my-4 text-gray-300">
        We <b>do not</b> use this type of cookie on our site.
      </p>
    </div>
  </div>
</div>  