<div class="home">
  <div class="jumbotron">
    <div class="text-center">
      <%= image_tag('logo.png', style: 'width: 30%') %>
      <h1 style="margin-top:80px">Address society's most wicked problems with the</h1>

      <h1 style="margin-top:30px">Tool for Systemic Change</h1>
    </div>
  </div>
</div>
