<% content_for :page_actions do %>
  <%=
    if policy(Scorecard).create?
      create_new_button(new_sustainable_development_goal_alignment_card_path)
    end
  %>
<% end %>

<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @scorecards,
                        :table_html => { :class => "table table-striped table-base" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |scorecard| "scorecard-#{scorecard.id}" },
                          class: 'table-no-actions'
                        } do |table| %>
    <%
      table.column :name,
        link: true,
        link_url: lambda { |record| sustainable_development_goal_alignment_card_path(record) },
        formatter: lambda { |text| truncate_text(text, 30) },
        link_html: { data: { behaviour: 'show-spinner'} }
    %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 135) } %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @scorecards %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
