<% if !import.processing_errors.empty? %>
  <div class='box-body'>
    <p >
      <p><strong class='text-red'>Processing Errors</strong></p>
      <p>The following errors occurred while importing your files.</p>
      <p>Please update and reimport amended records.</p>
      <p>Records without errors have been imported successfully.</p>
    </div>
    
    <div style="overflow-y: auto">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th><em>Row</em></th>
            <% import.header_row.each do |column| %>
              <th><%= column %></th>
            <% end %>
            
          </tr>
        </thead>
        <tbody>
          <% import.processing_errors.each do |processing_error| %>
            <tr>
              <td style='color: red'><%= processing_error[:error_messages].join(', ') %></td>
              <td><%= processing_error[:row_index] %></td>
              <% processing_error[:row_data].each do |column| %>
                <td><%= column %></td>
              <% end %> 
              
            </tr>
          <% end %>  
        </tbody>    
      </table>
    </div>  
  </div>
<% end %>  