# Ansible managed: /Users/tom/Projects/Eventide/wicked_software/deploy/ansible/roles/postgresql/templates/database.yml.j2 modified on 2016-02-04 12:43:25 by tom on Toms-MacBook-Pro.local

default: &default
  host: localhost
  adapter: postgresql
  pool: 5

development:
  <<: *default
  database: wicked_software

  username: wicked_software
  password: feeblelarf12_

test:
  <<: *default
  database: wicked_software_test
