<div class="inline-flex rounded-lg items-center justify-center <%= data_model_filter_color(data_model) %>" title="Type: <%= data_model.name %>">
  <p class="py-1 px-2 text-xs whitespace-nowrap"><%= data_model_filter_label(data_model) %></p>
</div>
