@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");

// @import "bootstrap";
@import "admin-lte/dist/css/adminlte";
@import "select2";
@import "smartwizard/dist/css/smart_wizard_arrows";
@import 'daterangepicker';

@import '../stylesheets/base_colors';
@import '../stylesheets/base_buttons';
@import '../stylesheets/base_forms';

@import '../stylesheets/dashboard';
@import '../stylesheets/skin-wicked';
@import '../stylesheets/scorecard_matrix';
@import '../stylesheets/subsystem_tags';
@import '../stylesheets/sidebar';
@import '../stylesheets/smartwizard';
@import '../stylesheets/spinner';
@import '../stylesheets/tables';
@import '../stylesheets/transition_cards';
@import '../stylesheets/pdf';
@import '../stylesheets/cards';
@import '../stylesheets/ecosystem_maps';

@import "trix/dist/trix";

.brand-link-small {
  .brand-link .brand-image-xs {
    float: none;
  }

  .logo-xs, .logo-xl {
    position: inherit;
  }
}

.control-sidebar-content {

  .nav-sidebar .nav-item > .nav-link {
    position: inherit;
  }
}

.shared-links {
  width: 500px; 
}
.modal-dialog{
  position: relative;
  display: table; /* This is important */ 
  overflow-y: auto;    
  overflow-x: auto;
  width: auto;
  min-width: 375px;   
}

.content-header {
  .btn {
    margin-left: 1.2em;
  }
}
.login-box {
  margin-top: 20%;
}

.login-page {
  background: #d2d6de;

  b {
    font-weight: 700;
  }
}
 
.modal-header {
  .modal-title {
    font-size: 18px;
  }

  button.close {
    font-size: 21px;
    float: right;
  }
}

.toast {
  background-color: #006C8C;
  color: white;
}

.video-tutorial-wrapper{
  display:inline-block;
  position:relative;
}

.video-tutorial-wrapper:after{ /* I have higher Z-index so I can catch the click! Yey */
  content:"";
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.video-tutorial-wrapper iframe{
  vertical-align:top;
}

ul.checklist-items {
  list-style-type: none;
}

.characteristic-name {
  font-weight: normal;
}

.truncate {
  display: block;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// *** PDF related ***

label.truncate {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
.wizard .toolbar-bottom {
  border-top: thin solid #eeeeee;
}

.wizard .tab-pane {
  padding-bottom: 20px;
}

.trix-button-group--file-tools {
  visibility: hidden;
}

.modal-characteristic > h1 {
  font-size: 18px;
}

a.description-characteristic-link {
  color: #49C5B1;
}


a.description-characteristic-link:hover {
  color: darken(#49C5B1, 10%);
}

trix-editor.rich_text_area {
  overflow-y: auto;
  resize: vertical;

  #scorecard_notes {
    min-height: 100px;
  }
} 

trix-editor.rich_text_area {
  min-height: 200px;
} 
