<h1>
  {{ WKD.currentUser.clientName }}
</h1>

<div class="widgets clearfix">
  <div class="col-sm-4 widget">
    <div class="inner">
      <header>
        <strong>Welcome</strong>
      </header>
      <div class="content">
        <p><strong>Hi {{ WKD.currentUser.userName || 'there' }},</strong></p>

      </div>
    </div>
  </div>

  <div class="col-sm-4 widget">
    <div class="inner">
      <header>
        <strong>Scorecards</strong>
      </header>
      <div class="content">

        <button class="btn btn-default">View all</button>
      </div>
    </div>
  </div>

  <div class="col-sm-4 widget">
    <div class="inner">
      <header>
        <strong>Recent Activity</strong>
      </header>
      <div class="content">


        <button class="btn btn-default">View all</button>
      </div>
    </div>
  </div>
</div>

<div class="tutorials">
  <h2>Tutorials</h2>
</div>
