<h1>
  {{ WKD.currentUser.clientName || 'Global' }} dashboard
</h1>

<div class="widgets clearfix">
  <div class="col-sm-4 widget">
    <div class="inner">
      <header>
        <strong>Welcome</strong>
      </header>
      <div class="content">
        <p><strong>Hi {{ WKD.currentUser.userName || 'there' }},</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quisquam, dicta recusandae pariatur reprehenderit, possimus rem ipsam mollitia qui ipsum at atque provident facilis odio architecto quae quas perspiciatis ratione.</p>

        <button class="btn btn-default">Manage profile</button>
      </div>
    </div>
  </div>

  <div class="col-sm-4 widget">
    <div class="inner">
      <header>
        <strong>Statistics</strong>
      </header>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quisquam, dicta recusandae pariatur reprehenderit, possimus rem ipsam mollitia qui ipsum at atque provident facilis odio architecto quae quas perspiciatis ratione.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 widget">
    <div class="inner">
      <header>
        <strong>Recent Activity</strong>
      </header>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quisquam, dicta recusandae pariatur reprehenderit, possimus rem ipsam mollitia qui ipsum at atque provident facilis odio architecto quae quas perspiciatis ratione.</p>

        <button class="btn btn-default">View all activity</button>
      </div>
    </div>
  </div>
</div>

<div class="tutorials">
  <h2>Tutorials</h2>
</div>
