* {
  box-sizing: border-box;
}

body {
  background: $dark-10;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid $brand-secondary;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: $brand-primary;
}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 20%);
  }
}


