* {
  box-sizing: border-box;
}

body {
  background: $dark-10;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid $brand-secondary;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: $brand-primary;

  .actions {
    float: right;
    font-size: 12px;
    line-height: 30px;
  }
}

h3 {
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid $dark-10;
  padding-bottom: 10px;
}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 20%);
  }
}

.modal-body > h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  border-bottom: 1px solid $dark-20;
  padding-bottom: 15px;
  margin-bottom: 15px;

  .inner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 540px;
    float: left;
  }
}

.main-tabs {
  margin: -25px -30px 30px -30px;
  background: $gray-lightest;

  a {
    border-top: none;
  }

  .active, .active:hover, .active:focus {
    border-radius: 0;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
  }
}

.block-list {
  padding: 0;
  margin: 0 0 20px 0;

  li {
    border: 1px solid $dark-10;
    padding: 8px 12px;
    list-style: none;
    margin-bottom: 5px;
    transition: background .2s;
    background: white;

    &:hover {
      background: $gray-lighter;
    }
  }

  .ico {
    color: $dark-20;
    margin-right: 8px;
  }

  .actions {
    float: right;
  }

  ul {
    margin: 10px 0 0;
    padding: 0;
  }
}

.top-filter {
  position: relative;
  margin-bottom: 10px;

  input {
    display: block;
    background: $dark-10;
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: none;
    padding-left: 30px;
  }

  .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: $dark-20;
  }
}


table {
  .td-sm {
    width: 1%;
  }

  thead {
    font-weight: bold;
  }

  margin-bottom: 30px !important;
}


table .tablesort-asc, table .tablesort-desc{
  background: none;
}


.video-tutorals {
  padding: 0;
  font-size: 16px;

  i {
    font-size: 32px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
  }

  span {
    line-height: 32px;
  }

  li {
    display: inline-block;
    width: 33%;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;
  }

  a {
    display: block;
  }

  a:hover {
    text-decoration: none;
  }

  @include bp(1030px) {
    li {
      width: 48%;
    }
  }

  @include bp(sm) {
    li {
      width: 100%;
    }
  }
}

.widgets {
  background: white;
  margin: -25px -30px 15px -30px;
  padding: 30px;
}

.widget {
  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }

  .inner {
    border: 1px solid $dark-20;
    box-shadow: 0 0 1px 1px $dark-10;
  }

  header {
    background: $brand-tertiary;
    color: white;
    padding: 10px 15px;

    .action {
      float: right;
      color: white;
    }
  }

  .content {
    padding: 15px;
    height: 220px;
    overflow-y: auto;

    p {
      margin-bottom: 0;
    }

    &.not-fixed {
      height: auto;
    }
  }

  @include bp(md) {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
