* {
  box-sizing: border-box;
}

body {
  background: $dark-10;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid $brand-secondary;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: $brand-primary;

  .actions {
    float: right;
    font-size: 12px;
    line-height: 30px;
  }
}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 20%);
  }
}

.modal-body > h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  border-bottom: 1px solid $dark-20;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.main-tabs {
  margin: -25px -30px 30px -30px;
  background: $gray-lightest;

  a {
    border-top: none;
  }

  .active, .active:hover, .active:focus {
    border-radius: 0;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
  }
}

.block-list {
  padding: 0;
  margin: 0 0 20px 0;

  li {
    border: 1px solid $dark-10;
    padding: 8px 12px;
    list-style: none;
    margin-bottom: 5px;
    transition: background .2s;
    background: white;

    &:hover {
      background: $gray-lighter;
    }
  }

  .ico {
    color: $dark-20;
    margin-right: 8px;
  }

  .actions {
    float: right;
  }

  ul {
    margin: 10px 0 0;
    padding: 0;
  }
}


table {
  .td-sm {
    width: 1%;
  }

  thead {
    font-weight: bold;
  }
}


table .tablesort-asc, table .tablesort-desc{
    background: none;
}
