#main-content {
  position: absolute;
  top: $header-height;
  left: $main-nav-width;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .scroller {
    padding: 0 30px 30px 30px;
    overflow-y: auto;
    height: 100%;
    background: white;
  }

  .scroller h1:first-of-type {
    background: rgb(42, 186, 174);
    margin: 0 -30px 25px;
    padding: 0 30px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    line-height: 60px;
  }
}
