<div class="inline-flex rounded-lg items-center justify-center <%= impact_card_data_model_filter_color(impact_card_data_model) %>" title="Type: <%= impact_card_data_model.name %>">
  <p class="py-1 px-2 text-xs whitespace-nowrap"><%= impact_card_data_model_filter_label(impact_card_data_model) %></p>
</div>
