<% if impact_card_data_model.workspace != current_workspace && impact_card_data_model.system_model == false %>
  <div class="inline-flex rounded-lg items-center justify-center bg-blue-200" title="">
    <p class="py-1 px-2 text-xs whitespace-nowrap"><%= impact_card_data_model.workspace.name %></p>
  </div>
<% end %>