<h2>
  Create and assign initiatives
  <div class="actions">
    <a ng-click="vm.openModal('initiatives')"href><i class="fa fa-plus"></i> add new initiative</a>
  </div>

</h2>

<div class="form-horizontal">
  <em class="or-tag" ng-hide="vm.newScorecard.initiatives.length">No initiatives added</em>

  <div class="form-group" ng-show="vm.newScorecard.initiatives.length">
    <label class="col-sm-4 control-label">Added initiatives</label>

    <div class="col-sm-8">
      <ul class="block-list">
        <li ng-repeat="initiative in vm.newScorecard.initiatives">
          <i class="ico fa-lightbulb-o fa"></i>
          {{ initiative.name }}
          <div class="actions">
            <a href ng-click="vm.removeInitiative(initiative)">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-offset-4" ng-show="vm.newScorecard.initiatives.length">
    <button class="btn btn-default" wz-next>
      Preview <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>

<script type="text/ng-template" id="/templates/scorecards/initiatives-modal.html">
  <div class="modal-body">
    <h1>New Initiative</h1>
    <div ng-include="'/templates/initiatives/_form.html'">></div>
  </div>
</script>

