<h2>
  Scorecard <strong>{{ vm.newScorecard.name }}</strong>

  <div class="actions">
    <a href title="edit details" ng-click="vm.gotoStep(0)"><i class="fa fa-pencil-square-o"></i> edit</a>
  </div>
</h2>

<p>{{ vm.newScorecard.description }}</p>


<h2>
  Wicked Problem <strong>{{ vm.newScorecard.problem.attributes.name }}</strong>
  <div class="actions">
    <a href title="edit wicked problem" ng-click="vm.gotoStep(1)"><i class="fa fa-pencil-square-o"></i> edit</a>
  </div>
</h2>

<p>
  {{ vm.newScorecard.problem.attributes.description }}
</p>

<h2>
  Community <strong>{{ vm.newScorecard.community.attributes.name }}</strong>
  <div class="actions">
    <a href title="edit community" ng-click="vm.gotoStep(2)"><i class="fa fa-pencil-square-o"></i> edit</a>
  </div>
</h2>

<p>
  {{ vm.newScorecard.community.attributes.description }}
</p>

<h2>
  Initiatives
  <div class="actions">
    <a href title="edit initiatives" ng-click="vm.gotoStep(3) "><i class="fa fa-pencil-square-o"></i> edit</a>
  </div>
</h2>

<ul class="block-list">
  <li ng-repeat="initiative in vm.newScorecard.initiatives">
    <i class="ico fa-lightbulb-o fa"></i>
    {{ initiative.name }}

    <div class="actions">
      <a href ng-click="initiative.$showOrgs = !initiative.$showOrgs"><i class="fa" ng-class="{ 'fa-angle-down': initiative.$showOrgs, 'fa-angle-left': !initiative.$showOrgs }" title="toggle organisations"></i></a>
    </div>

    <ul ng-show="initiative.$showOrgs">
      <li ng-repeat="org in initiative.relationships.organisations.data">
        <i class="ico fa fa-briefcase"></i>
        {{ org.attributes.name }}
      </li>
    </ul>
  </li>
</ul>

<button class="btn btn-primary" ng-click="vm.createScorecard();">
  Create Scorecard
</button>
