.btn-primary {
  background-color: $primary-button-color;
  border-color: lighten($primary-button-color, 5%);
}

.btn-primary:hover {
  background-color: darken($primary-button-color, 5%);
  border-color: darken($primary-button-color, 5%);
}

// NOTE This does not work
// .btn .btn-primary:active {
//   background-color: darken($primary-button-color, 10%);
//   border-color: darken($primary-button-color, 10%);
// }

.btn-secondary {
  color: #FFF;
  background-color: $secondary-button-color;
  border-color: lighten($secondary-button-color, 5%);
}

.btn-secondary:hover {
  color: #FFF;
  background-color: darken($secondary-button-color, 5%);
  border-color: darken($secondary-button-color, 5%);
}

.btn .btn-secondary:active {
  color: #FFF;
  background-color: darken($secondary-button-color, 10%);
  border-color: darken($secondary-button-color, 10%);
}

.btn-ecosystem-map {
  color: #333;
  background-color: lighten(lightgrey, 11%);
  border-color: rgb(118, 118, 118);
}

.btn-ecosystem-map:hover {
  background-color: lighten(lightgrey, 5%);
}

.btn {
  font-size: 14px;
}
