.card {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #3c8dbc;
}

.card-header {
  h5 .btn {
    font-size: 18px;
    color: #3c8dbc;
  }
}

.dashboard .card, .reports .card {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #d2d6de;
}
