div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

.scorecard-matrix-pdf .truncate {
  width: 275px !important;
}

.scorecard-matrix-pdf th {
  width: 550px !important;
}

.scorecard-matrix-pdf .print-chars {
  transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
}

.scorecard-matrix-pdf .inner {
  padding-bottom: 0px !important;
}

.legend h4 {
  font-size: 100%
}

.legend ul {
  list-style: none;
}

.legend li {
  font-size: 95%;
  margin-left: -15px;
}
