.sidebar-mini .nav-sidebar {

  i.fa:before {
    position: relative;
    left: 0px;
    top: 1px; 
  }
  i.fa-cubes:before {
    position: relative;
    left: 0px;
    top: -17px;
  }

}

.sidebar .user-panel {
  border-bottom: inherit;
}

@media (min-width: 992px) {
  .sidebar-mini .nav-sidebar .nav-item > .nav-link {
    border-left: 3px solid transparent;
  }

  .sidebar-mini .nav-sidebar .nav-item > .nav-link:hover {  
    border-left-color: $secondary-color;
  }

  .sidebar-mini h2.sidebar-header {
    margin-left: -1em;
    margin-right: -1em;
    padding: 1em;
    padding-left: 2em;
    font-size: 0.9em;
    color: #4b646f;
    background: #1a2226;
  }
}

form.account-select {
  padding-top: 0.5em;
}

.skin-wicked .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-wicked .sidebar a {
  color: #b8c7ce;
}
.skin-wicked .sidebar a:hover {
  text-decoration: none;
}

.skin-wicked .wrapper,
.skin-wicked .main-sidebar,
.skin-wicked .left-side {
  background-color: #222d32;
}

.skin-wicked .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-wicked .sidebar-form input[type="text"],
.skin-wicked .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-wicked .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-wicked .sidebar-form input[type="text"]:focus,
.skin-wicked .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-wicked .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-wicked .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-wicked.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-wicked.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
