/*
 * Skin: Wicked
 * ----------
 */

// *** General ***

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

html,
body {
  height: 100%
}

a {
  color: #3c8dbc;
}

a:hover {
  color: lighten(#3c8dbc, 15%);
}

hr {
  border-top-color: $border-color;
}

.content-wrapper > .content {
  padding: 0 1rem;
  padding-bottom: 20px;
}

.content-header h1 {
  font-size: 1.5rem;
  line-height: 1.1;
  padding-left: 10px;
}

.content-header > h1 > small {
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
  padding-left: 4px;
  line-height: 1;
}

.content-wrapper,
.content-header,
.content {
  background-color: white;
}
.content-header .btn {
  font-size: 14px;
}

// *** Footer ***

.main-footer {
  background-color: white;
  height: 57px;
}

// *** Navbar ***

.navbar-wicked {
  background-color: $primary-color;
}

.navbar-wicked .navbar-nav .nav-link {
  color: white;
}

// NOTE This prevents hamburger link from
// staying 'grey' after being clicked, at
// least until the page is clicked
// elsewhere.
// TODO Look into AdminLTE js to figure
// out why the bug occurs
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}

.user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.main-header {
  border-bottom: 0px;
}

// *** Brand ***

.skin-wicked .brand-link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background-color: darken($primary-color, 10%);
  color: #ffffff;
  border-bottom: 0 solid transparent;
}

.skin-wicked .brand-link .brand-image-xs {
  margin-top: 0.11em;
  margin-left: 1em;
}

.brand-link:hover {
  background-color: darken($primary-color, 20%);
}

// *** Toasts ***

.toast {
  position:fixed;
  top: 1em;
  right: 3em;
  width: 100%;
  z-index:9999;
}

// *** Select Tags ***

.select2-selection__choice {
  background-color: #00b9f2 !important;
  border-color: #0dc6ff !important;
}

.select2-selection__choice__remove {
  color: #f0f0f0 !important;
}

//lighten(#00b9f2, 30%) !important;

.select2-selection .select2-selection--multiple {
  border: solid #dee2e6 1px !important;
}

.select2-results__option .select2-results__option--highlighted {
  background-color: #00b9f2 !important;
}

li.select2-selection__choice {
  background-color: rgb(13, 198, 255) !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  //border: inherit !important;
  border: solid #dee2e6 1px !important;
}

.select2-container .select2-choice:not(.select2-default) {
    background-image: none !important;
    background-color: #D9FFC7;
}
// *** Tabs ***

.nav-tabs {
  border-bottom-color: #f4f4f4;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  //border-bottom-color: #f4f4f4;
  border-right-color: #f4f4f4;
  border-left-color: #f4f4f4;
}

.content a.nav-link {
  color: #444;
}

.content .nav-tabs .nav-link.active {
  border-top-color: #3c8dbc;
  border-top-width: 2px;
}

.tab-pane.active {
  border-right:  thin solid #f4f4f4;
  border-left:   thin solid #f4f4f4;
  border-bottom:   thin solid #f4f4f4;
}

.tab-content-header {

  border-bottom: thin solid #f4f4f4;

  h3 {
    font-size: 18px;
  }

  .form-control {
    font-size: 14px;
    height: calc(2.1rem + 2px);
  }
}

.nav-tabs-custom {
  font-size: 14px
}

// *** Transition Card

#transition_card_select_date {
  width: 120px;
  margin-right: 5px;
}

// *** Breadcrumb ***

.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 0px 5px;
  position: absolute;
  top: 70px;
  right: 10px;
  border-radius: 2px;

  li > a {
    color: #444;
  }

  li >a > .fa {
    margin-right: 5px;
  }

  li, h1 small {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: '>\00a0';
  }
}

$color-actual: #009BCC;
$color-planned: #00CCAA;
$color-suggestion: #F7C80B;
$color-more-information: #7993F2;

span.actual {
  color: $color-actual;
}

span.planned {
  color: $color-planned;
}

span.suggestion {
  color: $color-suggestion;
}

span.more-information {
  color: $color-more-information;
}

span.actual > a {
  color: $color-actual;
}

span.planned > a {
  color: $color-planned;
}

span.suggestion > a {
  color: $color-suggestion;
}

span.more-information > a {
  color: $color-more-information;
}

span.no-comment > a {
  color: #212529;
}

i.badge-checklist-item {

}

i.badge-checklist-item.actual {
  color: $color-actual;
}

i.badge-checklist-item.planned {
  color: $color-planned;
}
i.badge-checklist-item.suggestion {
  color: $color-suggestion;
}

i.badge-checklist-item.more-information {
  color: $color-more-information;
}

i.badge-checklist-item.no-comment {
  color: #b3b3b3;
}

.form-check {
  label[for=checklist_item_status_actual].form-check-label {
    color: $color-actual;
  }

  label[for=checklist_item_status_planned].form-check-label {
    color: $color-planned;
  }

  label[for=checklist_item_status_suggestion].form-check-label {
    color: $color-suggestion;
  }

  label[for=checklist_item_status_more_information].form-check-label {
    color: $color-more-information;
  }
}

.form-check {
  label[for=checklist_item_new_status_actual].form-check-label {
    color: $color-actual;
  }

  label[for=checklist_item_new_status_planned].form-check-label {
    color: $color-planned;
  }

  label[for=checklist_item_new_status_suggestion].form-check-label {
    color: $color-suggestion;
  }

  label[for=checklist_item_new_status_more_information].form-check-label {
    color: $color-more-information;
  }
}




// *** Home ***

div.home {
  .btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
  }

  .btn-default {
    background-color: #f4f4f4;
    border-color: #ddd;
  }

  a.btn-lg {
    color: #49C5B1;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }

  .jumbotron {
    background-color: #49C5B1;
    color: #FFF;
  }
}

// *** Login page ***

.login-page, .register-page {
  background: #d2d6de;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #666;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 313px;
}

.login-logo, .register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.login-box, .register-box {
  width: 360px;
}

// *** Reports ***

i.report-icon {
  color: $primary-color;
}

h3.box-title {
  font-size: 18px;
}


textarea[name='checklist_item[comment]'] {
  height: 90px;
  width: 400px;
}

textarea[name='checklist_item[new_comment]'] {
  height: 85px;
  width: 400px;
}

