.sw-theme-arrows > .nav .nav-link::after {
  border-left-color: white;
}
.sw-theme-arrows > .nav .nav-link.active {
  border-color: #428bca !important;
  background: #428bca !important;
}

.sw-theme-arrows > .nav a.nav-link.active{
  font-weight: 700;
}

.sw-theme-arrows > .nav .nav-link.active::after {
  border-left-color: #428bca !important;
}

.wizard .tab-content {
  padding: 10px;
}

.wizard .toolbar-bottom {
  padding-right: 20px;
}
