.sw-theme-arrows > .nav .nav-link::after {
  border-left-color: white;
}
.sw-theme-arrows > .nav .nav-link.active {
  border-color: #428bca !important;
  background: #428bca !important;
}

.sw-theme-arrows > .nav a.nav-link.active{
  font-weight: 700;
}

.sw-theme-arrows > .nav .nav-link.active::after {
  border-left-color: #428bca !important;
}

.sw-theme-arrows .toolbar > .btn {
  background-color: $primary-button-color;
  border-color: lighten($primary-button-color, 5%);
}

.sw-theme-arrows .toolbar > .btn:hover {
  background-color: darken($primary-button-color, 5%);
  border-color: darken($primary-button-color, 5%);
}

.sw .toolbar > .btn.disabled {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  visibility: hidden;
}

.wizard .tab-content {
  padding: 10px;
}

.wizard .toolbar-bottom {
  padding-right: 20px;
}
