.table thead th {
  border-top: 0px;
}

.table th, .table td {
  border-top: 0px;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
  line-height: 1.42857143;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-actions td:nth-last-child(-n+2) {
  max-width: 100px !important;
}

.table-base th:first-child {
  width: 180px !important;
}

.table-base td:first-child {
  display: block;
  width: 180px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-base tfoot td:first-child {
  display: block;
  width: 280px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}

.table-base tfoot td:first-child {
  display: block;
  width: 280px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 480px) {
  .table-base td:first-child {
    width: 100px !important;;
  }
  
  .table-base th:first-child {
    width: 100px !important;
  }
}
