h4.focus-area-group-title {
  border-bottom: 1px solid #f4f4f4;
  display: inherit;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  padding: 10px;
}

h3.focus-area {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

// .focus-area-group-container {

// }

.initiative-characteristics-container {
  border: 1px solid #f4f4f4;
  margin: 10px;
  border: 1px solid #f4f4f4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid #3c8dbc;
}
