<div class="inline-flex rounded-lg items-center justify-center <%= dom_id(impact_card.data_model) %> text-white" title="Type: <%= impact_card.data_model.name %>">
  <p class="py-1 px-2 text-xs whitespace-nowrap"><%= impact_card.data_model.short_name || impact_card.data_model.name %></p>
</div>
