<% badge_background_class = impact_card.type == 'TransitionCard' ? 'bg-teal-600 dark:bg-teal-600' : 'bg-blue-600 dark:bg-blue-600' %>
<div class="inline-flex rounded-lg items-center justify-center <%= badge_background_class %> text-white" title="Type: <%= impact_card.type.titleize %>">
  <p class="py-1 px-2 text-xs"><%= impact_card.type.titleize %></p>
</div>
