// allowing picker styles to leak as they wont be namespaced when in model
// @todo move to datepicker.scss rather then here

.picker {
  display: inline-block;
}

.picker table {
  margin-bottom: 0 !important;
  margin-right: 10px;
}

.picker .title {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.glyphicon-chevron-left:before {
  @include fa('f0a8');
}

.glyphicon-chevron-right:before {
  @include fa('f0a9');
}

.text-muted {
  color: lightgray;
}
