.wicked-problems-page {
  .or-tag {
    color: $gray-light;
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
  }

  // Wizard steps
  .steps-indicator {
    margin-bottom: 45px;

    li a {
      transition: color .2s;
    }

    li a:before {
      transition: background .2s;
      background: $brand-tertiary;
    }

    .current a {
      &:before {
        background: $brand-primary;
      }
    }

    li a {
      font-weight: 300;
    }
  }
}
