.scorecard-embed {
  background: white;
  margin-top: 60px;
  box-shadow: 0 0 3px 3px $dark-10;
  padding: 30px;
  position: relative;
  overflow: hidden;

  h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
  }

  footer {
    background: white;
    border-top: 1px solid $dark-10;
    margin: -30px;
    margin-top: 60px;
    margin-bottom: 0;
    text-align: right;
    color: $dark-30;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
      display: inline-block;
      padding: 7px 0;
      height: 30px;
    }
  }
}
