= rails_admin_form_for @object, url: new_client_path, as: @abstract_model.param_key, html: { multipart: true, class: "form-horizontal denser", data: { title: @page_name } } do |form|
  = form.generate action: :create
