<div class="form-group row">
  <label class="col-sm-3 col-form-label">Assign Subsystem Tags</label>
  <div class="subsystem_tags">
    <%= f.simple_fields_for :initiatives_subsystem_tags do |initiatives_subsystem_tag_form| %>
      <%= render 'transition_cards/form_tabs/subsystem_tag_fields', f: initiatives_subsystem_tag_form %>
    <% end %>
    <div class="links row d-flex justify-content-start ml-5">
      <%=
        link_to_add_association(
          '',
          f,
          :initiatives_subsystem_tags,
          partial: 'transition_cards/form_tabs/subsystem_tag_fields'
        )
      %>
    </div>
  </div>
</div>
<hr/>
