<% content_for :page_actions do %>
  <%= create_new_button(new_focus_area_path) %>
<% end %>

<div class="box">
  <div class='box-body no-padding'>
  <%= table_for @focus_areas, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |focus_area| "focus_area-#{focus_area.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link_action: :edit, formatter: lambda { |text| truncate_text(text, 30) } %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 100) } %>
    <% table.column :position %>
    <%
      table.column :focus_area_group,
        formatter: lambda { |focus_area_group| truncate_text(focus_area_group.name, 30) },
        order: "focus_area_groups.name"
    %>
    <% table.column :scorecard_type %>
    <% table.column :actual_color, formatter: lambda { |color| "<span style='width:10px; background-color:#{color}'>&nbsp;&nbsp;&nbsp;</span> #{color}".html_safe } %>
    <% table.column :planned_color, formatter: lambda { |color| "<span style='width:10px; background-color:#{color}'>&nbsp;&nbsp;&nbsp;</span> #{color}".html_safe } %>
    <% table.column :data => "Modify", link_action: :edit %>
    <% table.column :data => "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @focus_areas %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
