@import "shadcn.css";
@import "pagy.tailwind.css";
/* @import "split.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash-yellow {
  0% {
    background-color: #f1e3ab98;
  }
  100% {
    background-color: transparent;
  }
}

@layer utilities {
  .animate-flash-yellow {
    animation: flash-yellow 1s ease-in-out;
  }
}

body {
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

@media print {

  .page-break {
    page-break-before: always
  }

}

@page:right{
  @bottom-right {
    content: counter(page);
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
