@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'adminlte';
@import 'skin-wicked';
@import 'medium-editor';
@import 'select2';
@import 'bootstrap-nav-wizard';
@import 'scorecard_matrix';

div.medium-editor-element {
  height: auto;
}

.nav.nav-wizard.nav-pills {
  margin-left: 22px;
  margin-top: 7px;
}

.nav.nav-wizard.nav-pills > li > a{
  border-top: 0px solid transparent;
}

.sidebar a.link-disabled {
  color: #555;
  opacity: .65;
}

.content-header:first-child a.btn {
  margin-left: 20px;
}