/*
 * Skin: Wicked
 * ----------
 */

$primary-color: #49C5B1;
$secondary-color: #00FFFF;

$primary-color-analogous-1: #499BC4; 
$primary-color-analogous-2: #49C472;

$primary-button-color: #00b9f2;
$secondary-button-color: #49C5B1;

span.commented {
  color: $primary-color-analogous-1;
}

.btn-primary {
  background-color: $primary-button-color;
  border-color: lighten($primary-button-color, 5%);
}

.btn-primary:hover {
  background-color: darken($primary-button-color, 5%);
  border-color: darken($primary-button-color, 5%);
}

.btn-secondary {
  color: #FFF;
  background-color: $secondary-button-color;
  border-color: lighten($secondary-button-color, 5%);
}

.btn-secondary:hover {
  color: #FFF;
  background-color: darken($secondary-button-color, 5%);
  border-color: darken($secondary-button-color, 5%);
}

.skin-wicked .main-header .navbar {
  //background-color: #3c8dbc;
  background-color: $primary-color;
}
.skin-wicked .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-wicked .main-header .navbar .nav > li > a:hover,
.skin-wicked .main-header .navbar .nav > li > a:active,
.skin-wicked .main-header .navbar .nav > li > a:focus,
.skin-wicked .main-header .navbar .nav .open > a,
.skin-wicked .main-header .navbar .nav .open > a:hover,
.skin-wicked .main-header .navbar .nav .open > a:focus,
.skin-wicked .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-wicked .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-wicked .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-wicked .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-wicked .main-header .navbar .sidebar-toggle:hover {
  background-color: darken($primary-color, 20%);
}
@media (max-width: 767px) {
  .skin-wicked .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-wicked .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-wicked .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-wicked .main-header .logo {
  background-color: darken($primary-color, 10%);
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-wicked .main-header .logo:hover {
  background-color: darken($primary-color, 20%);
}
.skin-wicked .main-header li.user-header {
  background-color: $primary-color;
}
.skin-wicked .content-header {
  background: transparent;
}
.skin-wicked .wrapper,
.skin-wicked .main-sidebar,
.skin-wicked .left-side {
  background-color: #222d32;
}
.skin-wicked .user-panel > .info,
.skin-wicked .user-panel > .info > a {
  color: #fff;
}
.skin-wicked .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-wicked .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-wicked .sidebar-menu > li:hover > a,
.skin-wicked .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
//  border-left-color: #3c8dbc;
  border-left-color: $secondary-color;
}
.skin-wicked .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-wicked .sidebar a {
  color: #b8c7ce;
}
.skin-wicked .sidebar a:hover {
  text-decoration: none;
}
.skin-wicked .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-wicked .treeview-menu > li.active > a,
.skin-wicked .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-wicked .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-wicked .sidebar-form input[type="text"],
.skin-wicked .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-wicked .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-wicked .sidebar-form input[type="text"]:focus,
.skin-wicked .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-wicked .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-wicked .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-wicked.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-wicked.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
