<p id="notice"><%= notice %></p>

<h1>Checklist Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklist_items.each do |checklist_item| %>
      <tr>
        <td><%= checklist_item.inspect %>
        <!-- <td><%#= link_to 'Show', initiative_checklist_item_path(checklist_item.initiative, checklist_item)  %></td>
        <td><%#= link_to 'Edit', edit_initiative_checklist_item_path(checklist_item.initiative, checklist_item) %></td>
        <td><%#= link_to 'Destroy', checklist_item, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checklist Item', new_initiative_checklist_item_path(@initiative) %>
