<% content_for :page_actions do %>
  <%= create_new_button(new_focus_area_group_path) %>
<% end %>

<div class="box">
  <div class='box-body no-padding'>
  <%= table_for @focus_area_groups, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |focus_area_group| "focus_area_group-#{focus_area_group.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link_action: :edit, formatter: lambda { |text| truncate_text(text, 30) } %> %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 100) } %>
    <% table.column :scorecard_type %>
    <% table.column :position %>
    <% table.column data: "Modify", link_action: :edit %>
    <% table.column data: "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @focus_area_groups %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
