<p>Welcome <%= @email %>!</p>

<p>You can confirm your workspace email through the link below:</p>

<p><%= link_to 'Confirm my workspace', confirmation_url(@resource, confirmation_token: @token) %></p>
