<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @activities, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |activity| "activity-#{activity.id}" }
                        } do |table| %>
    <% table.column :created_at, :header => "Time" %>
    <% table.column :item_type, :header => "Record Type" %>
    <% table.column :key, :header => "Action", :formatter => lambda { |key| _,action = *key.split('.'); "#{action}d"} %>
    <% table.column :owner, :header => "User", :formatter => lambda { |owner| owner.is_a?(User) ? owner.display_name : '' }, :sortable => false %>
    <% table.footer do %>
      <div class="pull-right">
        <%= paginate @activities %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>