<h1>Editing Organisations Import</h1>

<%= render 'form', organisations_import: @organisations_import %>

<%= link_to 'Show', @organisations_import %> |
<%= link_to 'Back', organisations_imports_path %>
