<h2>Create or assign a community</h2>

<div class="form-horizontal">
  <div ng-show="vm.communities.length">
    <div class="form-group border-top">
      <label for="problem-community" class="col-sm-4 control-label">Select a community</label>

      <div class="col-sm-8">
        <select class="form-control" id="problem-community" ng-model="vm.newProblem.community" ng-options="community.attributes.name for community in vm.communities">
        </select>
      </div>
    </div>

    <em class="col-sm-offset-4 or-tag">or <a ng-click="vm.openModal('communities')"href>create a new community</a></em>
  </div>

  <div ng-hide="vm.communities.length">
    <em class="or-tag">You have no communities setup, <a ng-click="vm.openModal('communities')"href>create one now?</a></em>
  </div>

  <div class="col-sm-offset-4" ng-show="vm.newProblem.community">
    <button class="btn btn-default" wz-next>
      Assign Initiatives <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>

<script type="text/ng-template" id="/templates/problems/communities-modal.html">
  <div class="modal-body" ng-include="'/templates/communities/new.html'">
  </div>
</script>
