<h2>Select or create a problem</h2>

<div class="form-horizontal">
  <div class="form-group">
    <label for="problem-name" class="col-sm-4 control-label">Wicked Problem Name</label>

    <div class="col-sm-8">
      <input type="text" ng-model="vm.newProblem.name" class="form-control" id="problem-name" placeholder="enter wicked problem name">
    </div>
  </div>

  <div class="form-group">
    <label for="problem-desc" class="col-sm-4 control-label">Description</label>

    <div class="col-sm-8">
      <textarea class="form-control" id="problem-desc" ng-model="vm.newProblem.description" placeholder="enter description"></textarea>
    </div>
  </div>

  <em class="col-sm-offset-4 or-tag">or select a pre-defined problem</em>

  <div class="form-group border-top">
    <label for="problem-select" class="col-sm-4 control-label">Pre-defined Problems</label>

    <div class="col-sm-8">
      <select class="form-control" id="problem-select">
        <option value="">Select pre-defined problem</option>
      </select>
    </div>
  </div>

  <div class="col-sm-offset-4">
    <button class="btn btn-default" wz-next>
      Assign community <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>
