
<div class="scorecard-matrix-controls">
  <button class="btn btn-default" ng-click="fromOpen = true" uib-datepicker-popup ng-model="from" show-weeks="false" datepicker-append-to-body="true" is-open="fromOpen" close-text="Close">
    <i class="fa fa-calendar"></i> From {{(from | date) || 'the beginning of time'}}
  </button>
  <button class="btn btn-default" ng-click="toOpen = true" uib-datepicker-popup ng-model="to" show-weeks="false" datepicker-append-to-body="true" is-open="toOpen" close-text="Close">
    <i class="fa fa-calendar"></i> To {{(to | date) || 'now'}}
  </button>
  <button class="btn btn-primary" ng-click="printScorecard()">
    <i class="fa fa-history"></i> View snapshot
  </button>


  <div class="pull-right">
    <button class="btn btn-default" ng-click="toggleGaps()">
      <i class="fa fa-adjust"></i> Show gaps in effort
    </button>

    <button class="btn btn-default" ng-click="printScorecard()">
      <i class="fa fa-print"></i> Print
    </button>

    <button class="btn btn-default" ng-click="openEmbedModal()">
      <i class="fa fa-share-alt"></i> Share
    </button>
  </div>
</div>

<div class="scorecard-matrix">
  <!-- <div class="mask"></div> -->
  <table class="init-table">
    <tbody>
      <tr ng-repeat="initiative in initiatives | orderBy:'attributes.name'">
        <td class="init-title" ng-attr-data-id="{{initiative.id}}">
          <a ui-sref="wkd.initiatives.view.checklist({ id: initiative.id })" ng-attr-title="{{::initiative.attributes.name}}">
            {{ ::initiative.attributes.name }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="wrapper">
    <table class="grid-table">
      <thead>
        <tr>
          <th class="legend" ng-attr-colspan="{{::area.characteristics.length}}" ng-class="'color' + ($index+1)" ng-repeat="area in focusAreas">
            <div tooltip-append-to-body="true" uib-tooltip="{{::area.attributes.name }}">
              Focus area {{ $index+1 }}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="initiative in initiatives | orderBy:'attributes.name'" class="initiative">
          <td class="cell" ng-class="::{ gap: isGap(initiative, characteristic) }" tooltip-animation="false" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="{{::characteristic.attributes.name}}" ng-class="inversed ? 'inverse' : ''" ng-repeat="characteristic in characteristics" ng-attr-data-id="{{initiative.id}}"><span>&nbsp;</span></td>
        </tr>
        <tr class="chars">
          <td tooltip-animation="false" tooltip-placement="left" tooltip-append-to-body="true" tooltip-class="matrix-char-tooltip" uib-tooltip="{{::characteristic.attributes.name}}" class="char-header" ng-repeat="characteristic in characteristics">
            <div>{{ ::characteristic.attributes.name }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<script type="text/ng-template" id="/templates/scorecards/embed-modal.html">
  <div class="modal-body">
    <h1>Share scorecard</h1>

    <p><strong>Direct link</strong><br>

    <a href="http://WICKED_URL/scorecards/GUID">http://WICKED_URL/scorecards/GUID</a>

    <p>
      <strong>Embed on your website</strong><br>

      <a href="javascript:void(0)">
        <img src="/assets/images/scorecard-embed.png">
      </a><br><br>

      <strong>Copy this code onto your website</strong>

      <pre>
&lt;a href="http://WICKED_URL/scorecards/GUID" target="_blank"&gt;
  &lt;img src="sourcetoimage" alt="link to scorecard"&gt;&lt;/img&gt;
&lt;/a&gt;</pre>

    </p>
  </div>
</script>
