<header id="header">

  <span class="logo">
    <img src="/assets/images/logo.png" alt="Wicked Labs">
  </span>

  <nav class="sub-nav">
    <ul>
      <li wkd-has-role="staff">
        <select ng-model="newContext" ng-change="changeContext()" ng-options="client.id as client.attributes.name for client in clients"></select>
      </li>
      <li wkd-has-role="staff">
        <a href="/admin">Admin</a>
      </li>
      <li>
        <a href ng-click="logout()">Logout</a>
      </li>
    </ul>
  </nav>

</header>
