<div class="flex items-center gap-x-6">
  <%= image_tag 'logo-small.png', class: 'h-16 w-auto', alt: "Logo for the 'Tool for Systemic Change'" %>
  <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Obsekio</h1>
</div>