<div class="flex justify-end w-full mt-2">
  <button
    type="button"
    data-copy-to-clipboard-target="button"
    class="ml-2 inline-flex items-center px-3 py-1 text-sm font-semibold leading-5 text-white bg-indigo-600 rounded-full"
    data-action="click->copy-to-clipboard#copy"
  >
    Copy
  </button>
</div>
