<h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">
  <%= record.persisted? ? "Edit #{record.name}" : "New #{record.model_name.human}" %>
</h1>
<hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10 dark:border-white/10">
