<h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">
  <%- if local_assigns[:title] %>
    <%= title %>
  <% else %>
    <%= record.persisted? ? "Edit #{record.name.presence || record.model_name.human }" : "New #{record.model_name.human}" %>
  <% end %>
</h1>
<%= horizontal_rule(class: 'my-10 mt-6')  %>