<%- if label.present? %>
  <div class="inline-flex rounded-lg items-center justify-center <%= dom_id(label) %>" title="<%= label.class.name.titleize %>: <%= label.name %>">
    <p class="py-1 px-2 text-xs"><%= label.name %></p>
  </div>
<%- end %>
