<div>
  <h2 class="text-base/7 font-semibold text-zinc-950 dark:text-white"><%= title %></h2>
  <%- if local_assigns[:subtitle] %>
    <p class="mt-1 text-sm/6 text-gray-600"><%= subtitle %></p>
  <%- end %>
</div>
