  <%= render 'section' do %>
    <%= render 'section_header', title: %>
      <%= render 'section_body' do %>
      <div class="sm:col-span-8">
        <div class="w-full">
          <dl class="grid grid-cols-1 text-base/6 sm:grid-cols-[min(60%,theme(spacing.80))_auto] sm:text-sm/6">
            <%= yield %>
          </dl>
        </div>
      </div>
    <% end %>
  <% end %>
