<div class="box">
  <div class="box-header">
    <%= link_to 'New Community', new_community_path %>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tbody><tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% @communities.each do |community| %>
      <tr>
        <td><%= community.name %></td>
        <td><%= community.description %></td>
      </tr>
      <% end %>
    </tbody></table>
  </div>
</div>
