<% if @subsystem_tag.errors.count > 0 %>
  $(".notice").remove(); 
  //display new validation messages
  <% @subsystem_tag.errors.full_messages.each do |message| %>
    $('#error-messages').append('<div class="alert alert-error"><%= escape_javascript(message)%></div>');
  <% end %>
<% else %>
  $('#subsystem-tag-modal').modal('hide');
  $("[data-association='initiatives_subsystem_tag']").click();
  var newSelect = $('.assign-subsystem-tag-select').last();
  newSelect.append(
    $('<option>', {value: '<%= @subsystem_tag.id %>', text:'<%= @subsystem_tag.name %>'})
  );
  newSelect.val('<%= @subsystem_tag.id %>');
<% end %>
