<div class="box">
  <div class='box-body no-padding'>
  <%= table_for @results, :table_html => { :class => "table table-striped" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |initiative| "initiative-#{initiative.id}" }
                        } do |table| %>
    <% table.column :name, link: true %>
    <% table.column :description, formatter: lambda { |description| Nokogiri::HTML(description).text} %>
    <% table.column :sector_name, header: "Sector" %>
    <% table.column :scorecard_name, header: Scorecard.model_name.human %>
    <% table.column :wicked_problem_name, header: "Wicked Problem"  %>
    <% table.column :community_name, header: "Community"  %>
    <% table.column :created_at, header: "Time" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @results %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
