<footer class="main-footer mt-auto">
  <div class="float-left d-none d-sm-block">
    <strong>Copyright &copy; <%= Date.today.year %> Emily Humphreys</strong> and <%= link_to 'contributors', contributors_path, target: :blank %>
  </div>
</footer>
