<footer class="main-footer mt-auto">
  <div class="float-left d-none d-sm-block">
    <strong>Copyright &copy; <%= Date.today.year %> <a href="http://www.wickedlab.com.au/" target="_blank">Wicked Lab</a>.</strong> All rights reserved.
  </div>
  <div class="float-right hidden-xs mr-3">
      It's a wicked world. Let's change it.
  </div>
</footer>

