<footer class="main-footer">
  <div class="float-left d-none d-sm-block">
    <div class="slogan float-right hidden-xs">
      It's a wicked world. Let's change it.
    </div>
    <strong>Copyright &copy; 2020 <a href="http://www.wickedlab.com.au/" target="_blank">Wicked Lab</a>.</strong> All rights reserved.
  </div>
</footer>

