<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <p><img src="cid:logo.png"></p>
    <p>
      <em>
        In the spirit of reconciliation Eventide Systems acknowledges the Traditional Custodians of Country 
        throughout Australia and their connections to land, sea and community. We pay our respect to their 
        Elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples 
        today.
      </em>
    </p>
  </body>
</html>
