<!DOCTYPE html>
<html>
<head>
  <title>WickedSoftware</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !user_signed_in? %>
    <div ng-app="WKD">
      <header id="header" ng-include="'/templates/layout/header.html'">
      </header>

      <nav id="main-nav" ng-include="'/templates/layout/main-nav.html'"></nav>

      <main id="main-content">
        <div class="scroller" ui-view></div>
      </main>

      <wkd-sidebar></wkd-sidebar>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>
