<!DOCTYPE html>
<html>
<%= render 'layouts/shared/head' %>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <%= render 'layouts/shared/logo' %>
  </div>
  <div class="login-box-body">
    <%= render 'layouts/shared/flash' %>
    <%= yield %>
  </div>
</div>
</body>