<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>
  <body>
    <%= yield %>
    <p>Cheers,</p>
    <p>The Wicked Lab Team</p>
    <p><img style="height:  2em" src="cid:logo.png"></p>
    <p><a href="http://www.wickedlab.com.au/">It's a wicked world - let's change it</a></p>
    <p>
      <em>
        We acknowledge the Traditional Owners of Kaurna Yerta (Kaurna Country) on which we work, and pay our respects to the
        Elders, past, present and emerging. We also recognise those stolen from their land and who are finding their way back
        to country, culture and community.
      </em>
    </p>
  </body>
</html>
