<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WickedLab Scorecard</title>
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= wicked_pdf_javascript_include_tag "application" %>
    <%= csrf_meta_tags %>  
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>  
  </body>
</html>
