<% content_for :page_actions do %>
  <%= create_new_button(new_account_path) %>
<% end %>

<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @accounts, :table_html => { :class => "table table-striped table-base" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |account| "account-#{account.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link: true, formatter: lambda { |text| truncate_text(text, 30) } %> %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 100) } %>
    <% table.column data: "Modify", link_action: :edit %>
    <% table.column data: "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @accounts %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
